/// Default color variables

$primary: #71c55d;
$secondary: #3d8a2b;
$default: #222;

/// Fonts Variables
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-default: 'Open Sans', sans-serif;
