
/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

body {
	font-family: $font_2;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font_1;
	color:$heading-color;

	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	text-transform: normal;
}
p {
	font-family:$font_2;
	color: $font_color1;

	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
	font-weight: normal;
}


/*--- Margin & Padding --*/

	/*-- Margin Top --*/
	@for $i from 1 through 40 {
		.mt-#{5 * $i}{margin-top: 5px * $i;}
	}

	/*-- Margin Bottom --*/
	@for $i from 1 through 40 {
		.mb-#{5 * $i}{margin-bottom: 5px *$i;}
	}
	/*-- Margin Left --*/
	@for $i from 1 through 40 {
		.ml-#{5 * $i}{margin-left: 5px * $i;}
	}

	/*-- Margin Right --*/
	@for $i from 1 through 40 {
		.mr-#{5 * $i}{margin-right: 5px *$i;}
	}

	/*-- Padding Top --*/
	@for $i from 1 through 40 {
		.pt-#{5 * $i}{padding-top: 5px *$i;}
	}
	.pt-260{
		padding-top: 260px;
	}
	/*-- Padding Bottom --*/
	@for $i from 1 through 40 {
		.pb-#{5 * $i}{padding-bottom: 5px *$i;}
	}

	/*-- Padding Left --*/
	@for $i from 1 through 40 {
		.pl-#{5 * $i}{padding-left: 5px *$i;}
	}

	/*-- Padding Right --*/
	@for $i from 1 through 40 {
		.pr-#{5 * $i}{padding-right: 5px *$i;}
	}


.img {
	max-width: 100%;
	@include transition(.3s);
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
.clear{
    clear: both;
}

a,
.button {
	@include transition(.3s);
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a{
	color: rgb(99, 92, 92);
}
a:hover{
	color: #fff;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	text-decoration: none;
}
a,
button {
	color: #fff;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}

input:focus::-moz-placeholder {
	opacity: 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.capitalize {
	text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}

hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}

/* Theme-overlay */
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.overlay2{
	position: relative;
	z-index: 0;
}
.overlay2::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	@extend %overlay1;
}
.overlay2{
	position: relative;
	z-index: 0;
}
.overlay2::before{
	position: absolute;
	content: "";
	background-color: #2E2200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.5;
}

// Section Padding

	.separator {
		border-top: 1px solid #f2f2f2
	}

	.mb-90{
		margin-bottom: 90px;
		@media #{$mobile_device}{
			margin-bottom: 30px;
		}
		@media #{$tablet_device}{
			margin-bottom: 45px;
		}
	}


//section overly
.section-over1{
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        background-color: rgba(0, 9, 94,.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}


/* button style */
	.breadcrumb > .active {
		color: #888;
	}
/* scrollUp */
	#scrollUp,#back-top  {
		background:$theme-color;
		height: 50px;
		width: 50px;
		right: 31px;
		bottom: 18px;
		position: fixed;
		@media #{$xs}{
			right: 16px;
		}
		color: #fff;
		font-size: 20px;
		text-align: center;
		border-radius: 50%;
		line-height: 48px;
		border: 2px solid transparent;
		box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
		a i {
			display: block;
			line-height: 50px;
		}

	}

	#scrollUp:hover {
		color: #fff;
	}

/* Sticky*/
	.sticky-bar {
		left: 0;
		margin: auto;
		position: fixed;
		top: 0;
		width: 100%;
		-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
		box-shadow:0 10px 15px rgba(25, 25, 25, 0.1);
		z-index: 9999;
		-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
		animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
		-webkit-box-shadow:0 10px 15px rgba(25, 25, 25, 0.1);
		background: #fff;
	}
/*  end */


/*-- Some Animated CSS -- */

/* bounce-animate */
.bounce-animate{
	animation-name: float-bob;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	/* animation-timing-function: linear; */
	-moz-animation-name: float-bob;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: float-bob;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-animation-name: float-bob;
	-o-animation-duration: 2s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
	}
  @-webkit-keyframes float-bob {
	0% {
	  -webkit-transform: translateY(-20px);
	  transform: translateY(-20px); }
	50% {
	  -webkit-transform: translateY(-10px);
	  transform: translateY(-10px); }
	100% {
	  -webkit-transform: translateY(-20px);
	  transform: translateY(-20px); } }
	  
/* heartbeat */
	.heartbeat {
		animation: heartbeat 1s infinite alternate;
	}

	@-webkit-keyframes heartbeat {
		to {
			-webkit-transform: scale(1.03);
			transform: scale(1.03);
		}
	}

/* rotateme */
	.rotateme {
		-webkit-animation-name: rotateme;
		animation-name: rotateme;
		-webkit-animation-duration: 30s;
		animation-duration: 30s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}
	@keyframes rotateme {
		from {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-webkit-keyframes rotateme {
		from {
			-webkit-transform: rotate(0deg);
		}

		to {
			-webkit-transform: rotate(360deg);
		}
	}

/* 20. preloader */
	.preloader {
		background-color: #f7f7f7;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999999;
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s;
		margin: 0 auto;
	}

	.preloader .preloader-circle {
		width: 100px;
		height: 100px;
		position: relative;
		border-style: solid;
		border-width: 1px;
		// border-top-color:$theme-color;
		border-top-color:$theme-color;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		z-index: 10;
		border-radius: 50%;
		-webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
		box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
		background-color: #fff;
		-webkit-animation: zoom 2000ms infinite ease;
		animation: zoom 2000ms infinite ease;
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s;
	}
	.preloader .preloader-circle2 {
		border-top-color: #0078ff;
	}
	.preloader .preloader-img {
		position: absolute;
		top: 50%;
		z-index: 200;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		display: inline-block;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding-top: 6px;
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s;
	}

	.preloader .preloader-img img {
		max-width: 55px;
	}
	.preloader .pere-text strong{
		font-weight: 800;
		color:#dca73a ;
		text-transform: uppercase;
	}
	@-webkit-keyframes zoom {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}

		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}
	}

	@keyframes zoom {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}

		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}
	}
.slick-initialized .slick-slide {
	outline: 0;
}

/*-- Section Padding -- */

.section-padding{
	padding-top: 120px;
	padding-bottom: 100px;
	@media #{$md}{
		padding-top: 100px;
		padding-bottom: 90px;
	}
	@media #{$sm}{
		padding-top: 70px;
		padding-bottom: 40px;
	}
	@media #{$xs}{
		padding-top: 70px;
		padding-bottom: 40px;
	}
}
.section-padding2{
	padding-top: 130px;
	padding-bottom: 92px;
	@media #{$lg}{
		padding-top: 130px;
		padding-bottom: 92px;
	}
	@media #{$md}{
		padding-top: 130px;
		padding-bottom: 92px;
	}
	@media #{$sm}{
		padding-top: 70px;
		padding-bottom: 0px;
	}
	@media #{$xs}{
		padding-top: 70px;
		padding-bottom: 0px;
	}
}
.top-padding{
	padding-top: 120px;
	@media #{$md}{
		padding-top: 70px;
	}
	@media #{$sm}{
		padding-top: 70px;
	}
	@media #{$xs}{
		padding-top: 70px;
	}
}	
.bottom-padding{
	padding-bottom: 90px;
	@media #{$md}{
		padding-bottom: 70px;
	}
	@media #{$sm}{
		padding-bottom: 70px;
	}
	@media #{$xs}{
		padding-bottom: 70px;
	}
}	
.bottom-padding2{
	padding-bottom: 90px;
	@media #{$md}{
		padding-bottom: 40px;
	}
	@media #{$sm}{
		padding-bottom: 30px;
	}
	@media #{$xs}{
		padding-bottom: 20px;
	}
}	
.testimonial-padding{
	padding-top: 115px;
	padding-bottom: 100px;
	@media #{$md}{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	@media #{$sm}{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	@media #{$xs}{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}	
.w-padding{
	padding-top: 85px;
	padding-bottom: 80px;
	@media #{$sm}{
		padding-top: 70px;
		padding-bottom:70px;
	}
	@media #{$xs}{
		padding-top: 70px;
		padding-bottom:70px;
	}
}

.footer-padding{
	padding-top: 140px;
	padding-bottom: 10px;
	@media #{$sm}{
		padding-top: 80px;
		padding-bottom: 10px;
	}
	@media #{$xs}{
		padding-top: 80px;
		padding-bottom: 10px;
	}
}

// section Tittle
.section-tittle{
	
	@media #{$xs}{
		margin-bottom: 50px;
	}
	@media #{$sm}{
		margin-bottom: 50px;
	}
	img{
		margin-bottom: 30px;
	}
	span{
		font-family: $font_1;
		color: $theme-color;
		font-size: 16px;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 19px;
		display: block;
		text-transform: capitalize;
		letter-spacing: 1;

	}
	h2 {
		font-family: $font_1;
		color: $heading-color;
		font-size: 46px;
		display: block;
		font-weight:600;
		margin-bottom: 17px;
		@media #{$lg}{
			font-size: 36px;
		}
		@media #{$xs}{
			font-size: 28px;
		}
	}
	p{
		font-size: 18px;
	}

	&.section-tittle2{
		padding-bottom: 0px;
		h2{
			color: #fff;
		}
		p{
			color: #fff;
		}
	}
	&.section-tittle3{
		p{
			color: #fff;
			a{
				color: #fff;
				font-family: $font_1;
				font-size: 16px;
				font-weight: 400; 
				text-decoration: underline;
				&:hover{
					letter-spacing: 0.5px;
				}
			}
		}
	}

}

.small-tittle{

	h2 {
		font-size: 30px;
		display: block;
		font-weight: 700;
		line-height: 1.4;
		margin-bottom: 22px;

		@media #{$lg}{
			
		}

	}
	p{
		color: $font_color1;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;

		a{
			text-decoration: underline;
		}
	}
}

.section-img-bg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
.section-img-bg2{
	background-size: cover;
	// background-position:center;
	background-repeat: no-repeat;
}