.slider-height {
    height: 800px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$large1}{
        height: 750px;
    }
    @media #{$lg}{
        height: 700px;
    }
    @media #{$md}{
        height: 600px;
    }
    @media #{$sm}{
        height: 550px;
    }
    @media #{$xs}{
        height: 550px;
    }
}

.hero-height2{
    height: 400px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    position: relative;
    @media #{$lg}{
        height: 400px;
    } 
    @media #{$md}{
        height: 400px;
    }
    @media #{$sm}{
        height: 240px;
    }
    @media #{$xs}{
        height: 300px;
    }
}

.slider-area{
    background-color: #E8FCF6;
    margin-top: -1px;
    &.slider-area2{
        padding-bottom: 50px;
        @media #{$xs}{
            padding-bottom: 0px;
            padding-top: 80px;
        }
    }
    // Hero Img
    .single-slider{
        .slider-cap-wrapper{
            @include flexbox();
            @include justify-content(flex-end);
            @include align-items(center);
            @include flex-wrap(wrap);
            .hero-img{
                width: 52%;
                overflow: hidden;
                @media #{$large1}{
                    width: 52%;
                }
                @media #{$large2}{
                    width: 52%;
                }
                @media #{$large4}{
                    width: 52%;
                }
                @media #{$lg}{
                    width: 55%;
                }
                @media #{$md}{
                    width: 57%;
                }
                @media #{$sm}{
                    display: none;
                }
                @media #{$xs}{
                    display: none;
                }
                img{
                    width: 100%;
                    height: 840px;
                    @media #{$large1}{
                        height: 750px;
                    }
                    @media #{$lg}{
                        height: 700px;
                    }
                    @media #{$md}{
                        height: 600px;
                    }
                }
                // other hero
                &.hero-img2{
                    img{
                        height: 400px !important;
                        @media #{$lg}{
                            height: 400px !important;
                        }
                        @media #{$md}{
                            height: 400px !important;
                        }
                        @media #{$sm}{
                            height: 300px !important;
                        }
                        @media #{$xs}{
                            height: 300px !important;
                        }
                    }
                }
            }
            // Hero Caption
            .hero-caption{
                position: relative;
                width: 27%;
                padding-right: 50px;

                @media #{$large1}{
                    width: 43%;
                }
                @media #{$large2}{
                    width: 36%;
                }
                @media #{$large3}{
                    width: 30%;
                }
                @media #{$large4}{
                    width: 22%;
                }
                @media #{$lg}{
                    width: 39%;
                }
                @media #{$md}{
                    width: 37%;
                }
                @media #{$sm}{
                    width: 91%;
                    padding-left: 0;
                    padding-right: 80px;
                    padding-top: 80px;
                }
                @media #{$xs}{
                    width: 100%;
                    padding: 15px;
                    padding-top: 100px;
                    // margin-top: -50px;
                }
                // Hero Shape
                .hero-shape{
                    position: absolute;
                    top: -34%;
                    left: -61%;
                    z-index: -1;
                    @media #{$large1}{
                        left: -20%;
                    }
                    @media #{$large2}{
                        left: -30%;
                    }
                    @media #{$lg}{
                        left: -20%;
                    }
                    @media #{$sm}{
                        top: 0%;
                        left: -20%;
                    }
                    @media #{$xs}{
                        top: 0%;
                        left: -20%;
                    }
                }
                // Hero Shape 02
                .hero-shape2{
                    position: absolute;
                    top: -34%;
                    left: -18%;
                    z-index: -1;
                    @media #{$large1}{
                        left: -100%;
                    }
                    @media #{$large2}{
                        left: -100%;
                    }
                    @media #{$lg}{
                        left: -20%;
                    }
                    @media #{$sm}{
                        top: 0%;
                        left: -20%;
                    }
                    @media #{$xs}{
                        top: 0%;
                        left: -20%;
                    }
                }
                span{
                    color: $theme-color;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 8px;
                    display: inline-block;
                    background: rgba(40, 69, 186,.1);
                    border-radius: 3px;
                    padding: 5px 10px;
                }
                h1{
                    color: $heading-color;
                    font-size: 50px;
                    font-weight: 400;
                    margin-bottom: 63px;
                    line-height: 1;
                    display: block;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 107px;
                        height: 3px;
                        bottom: -26px;
                        left: 0;
                        background: $theme-color;
                    }
                    @media #{$large1}{
                        font-size: 55px;

                    }
                    @media #{$lg}{
                        font-size: 38px;
                    }
                    @media #{$md}{
                        font-size: 26px;
                    }
                    @media #{$sm}{
                        font-size: 40px;
                    }
                    @media #{$xs}{
                        font-size: 34px;
                    }
                }
                p{
                    color: $font-color1;
                    margin-bottom: 36px;
                    display: block;
                    font-size: 20px;
                    padding-right: 50px;
                    line-height: 1.4;
                    font-weight: 400;
                    br{
                        @media #{$lg}{
                            display: none;
                        }
                        @media #{$md}{
                            display: none;
                        }
                        @media #{$sm}{
                            display: none;
                        }
                        @media #{$xs}{
                            display: none;
                        }
                    }
                    @media #{$laptop}{
                        padding-right: 17px;
                    }
                    @media #{$md}{
                        margin-bottom: 29px;
                        font-size: 18px;
                        padding-right: 21px;
                    }
                    @media #{$xs}{
                        margin-bottom: 29px;
                        font-size: 18px;
                        padding-right: 0px;
                    }
                }
                &.hero-caption2{
                    padding-top: 0px;
                    margin-top: 52px;
                    @media #{$sm}{
                        padding-top: 78px;
                        padding-left: 10px;
                    }
                    @media #{$xs}{
                        padding-top: 101px;
                        padding-left: 10px;
                        margin-bottom: 68px;
                    }
                    h2{
                        color:$heading-color;
                        font-size:50px;
                        font-weight: 400;
                        margin-bottom: 20px;
                        line-height: 1.2;
                        display: block;
                        position: relative;
                        &::before {
                            position: absolute;
                            content: "";
                            width: 107px;
                            height: 3px;
                            bottom: -26px;
                            left: 0;
                            background: $theme-color;
                            @media #{$xs}{
                                width: 50px;
                            }
                        }
                        @media #{$large1}{
                            font-size: 55px;
    
                        }
                        @media #{$lg}{
                            font-size: 45px;
                        }
                        @media #{$md}{
                            font-size: 33px;
                        }
                        @media #{$sm}{
                            font-size: 40px;
                            margin-bottom: 57px;
                        }
                        @media #{$xs}{
                            font-size: 33px;
                            margin-bottom: 25px;
                        }
                    }
                    p{
                        margin-bottom: 40px;
                        display: block;
                        font-size: 20px;
                        padding-right: 50px;
                        line-height: 1.4;
                        br{
                            @media #{$lg}{
                                display: none;
                            }
                            @media #{$md}{
                                display: none;
                            }
                            @media #{$sm}{
                                display: none;
                            }
                            @media #{$xs}{
                                display: none;
                            }
                        }
                        @media #{$laptop}{
                            padding-right: 17px;
                        }
                        @media #{$md}{
                            margin-bottom: 29px;
                            font-size: 18px;
                            padding-right: 21px;
                        }
                        @media #{$xs}{
                            margin-bottom: 29px;
                            font-size: 18px;
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }
}

// Hero Overly
.hero-overly {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        background-color: rgba(1, 10, 28,  0.3);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

// Arrow
.slider-active {
    button{
        &.slick-arrow {
            position: absolute;
            right:60px;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: 0;
            padding: 0;
            z-index: 2;
            opacity: 1;
            cursor: pointer;
            visibility: visible;
            height: 50px;
            width: 50px;
            line-height: 50px;
            border-radius: 50%;
            background: #fff;
            @media #{$md}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            @media #{$sm}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            @media #{$xs}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            i{
                font-size: 25px;
                line-height: 50px;
                color: $theme-color;
                @media #{$md}{
                    line-height: 40px;
                }
                @media #{$sm}{
                    line-height: 40px;
                }
                @media #{$xs}{
                    line-height: 40px;
                }
            }
        }
        &.slick-next {
            right: 50px;
            @media #{$md}{
                right: 20px;
            }
        }
        &.slick-prev {
            left: 52%;
            @media #{$md}{
                left: 42%;
            }
        }
    }
}

