.want-wrapper{
    padding-top: 77px;
    padding-bottom: 70px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    &::after {
        background: rgba(200, 255, 239,.6);
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0
    }
    .wants-wrapper {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        align-items: center;
        // flex-wrap: wrap;

    }
    .wantToWork-area{
        z-index: 1;
        .wantToWork-caption{
            @media #{$xs}{
                margin-bottom: 30px;
            }
            img{
                margin-bottom: 20px;
            }
            h2{
                font-family: $font_2;
                color: $heading-color;
                font-size: 44px;
                font-weight: 500;
                line-height: 1;
                margin-bottom: 8px;
                
                @media #{$md}{
                    font-size: 30px; 
                }
                @media #{$sm}{
                    font-size: 35px; 
                }
                @media #{$xs}{
                    font-size: 22px; 
                }
            } 
            p{
                font-size: 16px;
                margin-bottom: 20px;
                color:$heading-color;
                font-weight: 400;
            }
        }    
        input {
            color:$theme-color;
            height: 70px;
            width: 100%;
            padding: 10px 25px;
            font-weight: 500;
            text-transform: capitalize;
            border-radius: 0px;
            border: 0;
            &::placeholder{
                color: $heading-color;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .nice-select {
            color:$heading-color;
            line-height: 30px;
            border: 0;
            height: 50px;
            width: 100%;
            font-weight: 500;
            text-transform: capitalize;
            padding-top: 10px;
            border-radius: 30px;
            margin-bottom: 15px;
            padding-left: 25px;
            &::after {
                border-bottom: 2px solid $heading-color;
                border-right: 2px solid $heading-color;
                height: 7px;
                right: 41px;
                width: 7px;
            }
            .list {
                width: 100%;
                border-radius: 0;
            }
            &.open .list {
                width: 100%;
                border-radius: 0;
                background: $theme-color2;
            }
            .option {
                color: #071112;
            }
            &::placeholder{
                color: #6E6575;
                font-size: 16px;
                font-weight: 400;
            }
        }
        // .wantToWork-btn{
        //     @media #{$sm}{
        //         float: left;
        //         margin-top: 30px;
        //     }
        //     @media #{$xs}{
        //         float: left;
        //         margin-top: 30px;
        //     }
        //     @media #{$md}{
        //         // float: left;
        //         margin-top: 30px;
        //     }
        // }
        .contact-now{
           
            span {
                font-family: $font_1;
                font-size: 24px;
                font-weight: 400;
                margin-right: 31px;
                
                @media #{$lg}{
                    font-size: 17px;
                }
                @media #{$sm}{
                    font-size: 14px;
                    margin-top: 20px;
                }
                @media #{$xs}{
                    font-size: 14px;
                    margin-top: 20px;
                }
            }
        }
    }
    .btn2 {
    
        background: $theme-color2;
        color: #ffff;
        font-size: 18px;
        height: 70px;
        line-height: 40px;
        font-weight: 500;
        padding: 14px 68px;
        text-transform: capitalize;
        border-radius: 0px;
        cursor: pointer;
        display: inline-block;
        i{
            padding-right: 12px;
        }
        &:hover{
            color: #fff;
        }
    }
    .sm-left{
        @media #{$xs}{
            float: left;
            margin-top: 30px;
        } 
        @media #{$sm}{
            float: left;
            margin-top: 30px;
        } 
    }
    .btn.w-btn {
        padding: 18px 65px 18px 33px;
    }
    .double-btn.f-right {
        @media #{$sm}{
            float: left;
        } 
        @media #{$xs}{
            float: left;
        } 
    }
    .wantToWork-btn img {
        margin-right: 9px;
    }
}

