    /*
    Flaticon icon font: Flaticon
    Creation date: 15/10/2020 05:40
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-emergency-call:before { content: "\f100"; }
.flaticon-dentist:before { content: "\f101"; }
.flaticon-dentist-chair:before { content: "\f102"; }
.flaticon-experiment-results:before { content: "\f103"; }
.flaticon-user-experience:before { content: "\f104"; }
.flaticon-calendar:before { content: "\f105"; }
.flaticon-guarantee:before { content: "\f106"; }
    
    $font-Flaticon-emergency-call: "\f100";
    $font-Flaticon-dentist: "\f101";
    $font-Flaticon-dentist-chair: "\f102";
    $font-Flaticon-experiment-results: "\f103";
    $font-Flaticon-user-experience: "\f104";
    $font-Flaticon-calendar: "\f105";
    $font-Flaticon-guarantee: "\f106";