.location-house{
   padding-left: 85px;
   padding-right: 85px;

    @media #{$lg}{
        padding-left: 50px;
        padding-right: 50px;
    }
    @media #{$md}{
        padding-left: 50px;
        padding-right: 50px;
    }
    @media #{$sm}{
        padding-left: 50px;
        padding-right: 50px;
    }
    @media #{$xs}{
        padding-left: 0px;
        padding-right: 0px;
    }

    .single-location{
        // margin: 0 15px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(35, 47, 85,.4);
            opacity: 0;
            visibility: hidden;
            z-index: 0;
            @include transition(.4s);
        }
        .location-contents{
            position: absolute;
            left: 20px;
            bottom: 25px;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            @include transition(.4s);
            h3{
                a{
                    @include transition(.4s);
                    color: #fff;
                    display: inline-block;
                    font-size: 26px;
                    font-weight: 700;
                    @media #{$md}{
                        font-size: 18px;
                    }
                    @media #{$sm}{
                        font-size: 18px;
                    }
                }
            }
            p{
                margin-bottom: 0;
                color: $theme-color;
                @media #{$sm}{
                  font-size: 14px;
                }
                br{
                    @media #{$laptop}{
                        display: none;
                    }
                    @media #{$lg}{
                        display: none;
                    }
                    @media #{$md}{
                        display: none;
                    }
                    @media #{$sm}{
                        display: none;
                    }
                    @media #{$xs}{
                        display: none;
                    }
                   
                }
            }
        }

        &:hover{
            .location-contents{
                bottom: 30px;
                visibility: visible;
                opacity: 1;
            }
            &::before{
                visibility: visible;
                opacity: 1;
            }
       }
    }
}



// Arrow
.location-active{
    .owl-nav div {
		background: #fff;
		color:#000;
		height: 55px;
        width: 55px;
		line-height: 55px;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
        right: 0;
        border-radius: 0%;
        i{
            color: $theme-color;
            font-size: 16px;
        }
	}
	.owl-nav{
		div{
			font-size: 26px;
			&.owl-next{
				left: auto;
				right: 15px;
			}
			&.owl-prev{
				left: 15px;
				i{
					position: relative;
                    right: 2px;
                    
				}
			}
			&:hover {
                background: $theme-color;
                i{
                    color: #fff;
                }
			}
		}
	}
    //Dot Style
    .owl-dots {
        width: 120px;
        margin: auto;
        .owl-dot {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            float: left;
            margin: 40px 6px 0 0;
            border: 2px solid red;
            &.active {
                background: red
            }
        }
    }
}