// ! Header
.header-area {
    background: #150303;
    border-bottom: 1px solid $border-color;
    .header-info-left{
        .logo {
            padding-right: 34px;
            padding-left: 35px;
            margin-right: 5px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: -12px;
            @media #{$lg}{
                padding-right: 21px;
                padding-left: 20px;
            }
            @media #{$sm}{
                padding-right: 20px;
                padding-left: 20px;
            }
            @media #{$xs}{
                padding-right: 29px;
                padding-left: 14px;
            }
            img{
                width: 236px;
                height: 33px;
            }
        }
    }
    .header-righ{
        .main-menu{
            ul{
                li{
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    margin: 0 15px;
                    @media #{$laptop}{
                        margin: 0 10px;
                    }
                    @media #{$lg}{
                        margin: 0 0px;
                    }
                    a{
                        
                        @include transition(.3s);
                        text-transform: uppercase;
                        font-family: $font_2;
                        color: #fff;
                        font-weight: 600;
                        padding: 25px 9px;
                        display: block;
                        font-size: 14px;
                        position: relative;
                        @media #{$laptop}{
                            padding: 25px 9px;
                        }
                        @media #{$lg}{
                            padding: 25px 9px;
                        }
                        &::after{
                            // content: "";
                            // position: absolute;
                            // width: 0;
                            // bottom: 25px;
                            // right: 5px;
                            // left: -5px;
                            // height: 3px;
                            // z-index: 1;
                            // background:#fff;
                            // @include transition(.4s);
                        }
                    }
                    &:hover{
                        & > a{
                            color: $theme-color;
                            &::after{
                                left: 0;
                                right: auto;
                                width: 100%;
                                @include transition(.4s);
                            }
                        }
                    }
                    // Sub-menu
                    &:hover > ul.submenu {
                        visibility: visible;
                        opacity: 1;
                        top: 100%;
                    }
                }
                ul.submenu{
                    position: absolute;
                    width: 190px;
                    background:#1E1E1E;
                    left: 0;
                    top: 90%;
                    visibility: hidden;
                    opacity: 0;
                    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                    padding: 17px 0;
                    @include transition(.3s);
                    & > li{
                        margin-left: 7px;
                        display: block;
                        & > a{
                            padding: 6px 10px !important;
                            font-size: 14px;
                            color: #fff;
                            text-transform: uppercase;

                           &::after{
                            position: unset;
                           }
                            &:hover{
                                color:$theme-color;
                                background: none;
                                padding-left: 13px !important;
                            }
                            i{
                                // @include transition(.4s);
                            }
                        }
                    } 
                }
            }
        }
        // btn
        .header-right-btn{
            padding: 0 !important;
            margin-right: -12px !important;
            margin-left: 17px !important;
            .header-btn::after {
                position: unset !important;
            }  
            @media #{$md}{
                margin-right: 63px;
            }       
            @media #{$sm}{
                // margin-right: 63px;
            }       
            @media #{$xs}{
                display: none;
            }       
        }
    }
}

.header-btn {
    
	background: $btn_bg;
	font-family: $font_1;
	text-transform: uppercase;
	color: #fff !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	border-radius: 0;
	padding: 25px 60px !important;
	display: inline-block !important;
	@media #{$lg}{
		padding: 25px 60px !important;
	}  
	@media #{$sm}{
		padding: 39px 28px !important;
	}  
	i{
		padding-right: 9px;
		font-size: 17px;
		color: #FF5E14;
	}
	&:hover{
        color: #fff !important;
        background:$btn_bg !important;
	}
}

.header-transparent {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9;
}

//! header Sticky  & Responsive
.header-sticky{
    &.sticky-bar{
        background: #150303;
        height: 74px;
        &.sticky {
            .main-menu{
                ul {
                    li{
                        a {
                            padding: 20px 20px !important;
                        }
                    }
                }
            }
            // Small device sticky show padding
            @media #{$md}{
                padding: 15px 0px;
            }
            @media #{$sm}{
                padding: 15px 0px;
            }
            @media #{$xs}{
                padding: 15px 0px;
            } 
        }
    }
}

//! Mobile Menu
.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
    .slicknav_menu {
        background: transparent;
        margin-top: 0px !important;
        .slicknav_btn {
            top: -48px;
            right: 15px;
            // mobile Menu button color
            .slicknav_icon-bar {
                background-color:$theme-color !important;
            }
        }
        .slicknav_nav{
            margin-top: -7px !important;
            // box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5);
            background:#fff;
            a {
                font-size: 15px;
                padding: 7px 10px;
                color: #000;
                &:hover {
                    background: transparent;
                    color: $theme-color;
                }
            }
            .header-btn {
                padding: 15px 36px !important;
                &:hover{
                    color: #fff !important;
                    background: $btn_bg;
                }
            }
            // Dropdown Menu button Padding None
            .slicknav_item a {
                padding: 0 !important;
            }
            .slicknav_arrow {
                font-size: 32px;
                top: -13px;
                font-weight: 300;
                color: $theme-color;
            }
        }
    }
}