.services-area {
    .single-cat{
        border: 1px solid #ddd;
        padding: 52px 50px;
        @include transition(.4s);
        z-index: 1;
        background: #ffff;
        @media #{$lg}{
            padding: 36px 29px;
        }
        @media #{$xs}{
            padding: 30px 22px;
        }
        @media #{$sm}{
            padding: 30px 18px;
        }
        // icon
        .cat-icon{
            img{
                margin-bottom: 31px;
            }
        }
        .cat-cap{
            h5{
             & > a{
                font-family:$font_1;
                color: $heading-color;
                @include transition(.2s);
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 14px;
                display: block;

                @media #{$sm}{
                    font-size: 21px;
                }
                @media #{$xs}{
                    font-size: 23px;
                }
              }
            }
            p{
                @include transition(.2s);
                color: $font-color1;
                font-size: 16px;
                margin-bottom: 34px;
                @media #{$sm}{
                    font-size: 15px;

                }
            }
            a{
                color: $heading-color;
                @include transition(.2s);
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 400;
                &:Hover{
                    color: $theme-color;
                }
            }
        }
        // Hover Effect In single 
        &:hover{
            border: 1px solid transparent;
            box-shadow: 0px 15px 25px rgba(168, 96, 0,.1);
       }
    }
}




