/// Default color variables
$primary: #18d26e;
$secondary: #333333;
$default: #666666;

/// Fonts Variables
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-default: 'Open Sans', sans-serif;
