.support-company-area{
    .support-location-img{
		@media #{$md}{
			right: 0px;
			margin-bottom: 40px;
		}
		@media #{$sm}{
			right: 0px;
			margin-bottom: 40px;
		}
		@media #{$xs}{
			right: 0px;
			margin-bottom: 40px;
		}
        img{
            width: 100%;
        }
	}
	// Right Content
	.right-caption{
		position: relative;
		.support-caption{
			span{
				color: #FF6162;
				font-size: 25px;
				margin-bottom: 20px;
				display: block;
				@media #{$xs}{
					font-size: 20px;
				}
			}
			p.pera-top{
				font-size: 24px;
				font-weight: 400;
				color: #1A1A1A;
				margin-bottom: 22px;
				line-height: 1.3;
			}
			p{
				font-size: 18px;
				font-weight: 400;
				color: #1A1A1A;
				line-height: 1.8;
			}
		}
	}
}
