/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 24px 0;
  background: rgba($primary, 0.8);

  &.header-transparent {
    background: transparent;
  }

  &.header-scrolled {
    background: rgba(darken($primary, 15), 0.9);
    padding: 12px;
  }

  

  .logo {

    h1 {
      font-size: 24px;
      margin: 0;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 1px;
      font-family: $font-secondary;
      text-transform: uppercase;
    }

    h1 a, h1 a:hover {
      color: #fff;
      text-decoration: none;
    }

    img {
      padding: 0;
      margin: 0;
      max-height: 40px;
    }
  }

  @media (max-width: 768px) {
    &.header-scrolled {
      padding: 15px 0;
    }
  }
}
