.team-area{
    .team-active{
        .single-team{
            margin: 0 12px;
        }
    }
    .single-team{
        .team-img {
            overflow: hidden;
            margin-bottom: 19px;
            position: relative;
            img {
                width: 100%;
                transform: scale(1);
                transition: all 0.6s ease-out 0s;
            }
        }
        .team-caption {
            h3 {
                margin-bottom: 3px;
                a{
                    color: $theme-color2;
                    font-weight: 600;
                    font-size: 24px;
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
            p{
                color:#ffff;
                font-size: 20px;
                span{
                   color: #9B9EAC; 
                   font-size: 20px;
                }
            }

        }

        // Hover
       &:hover .team-img {
        img {
            transform: scale(1.1);
        }

        // Effect
        .team-social{
            a{
                transform: translateY(0px);
                opacity: 1;
                visibility: visible;
            }
        }
       }
    }
}

.team-social{
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
    text-align: center;
    li{
        display: inline-block;
        a {
            color: #fff;
            background: $theme-color;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 14px;
            line-height: 40px;
            text-align: center;
            margin-left: 8px;
            display: inline-block;
            @include transform(.4s);
            i {
                display: inline-block;
            }

            // Effect
            transform: translateY(60px);
            opacity: 0;
            visibility: hidden;
            &:hover{
                color: #fff;
                background: $theme-color2;
            }
        }
        &:nth-child(1) a{
            transition-delay: 0.0s;
        }
        &:nth-child(2) a{
            transition-delay: 0.1s;
        }
        &:nth-child(3) a{
            transition-delay: 0.3s;
        }
    }
}


// Arrow
.team-active{
    button{
        &.slick-arrow {
            position: absolute;
            border: 0;
            padding: 0;
            z-index: 2;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            left: auto;
            background: none;

            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 40px;
            // border: 1px solid #C1C1C1;
            i{
                font-size: 22px;
                color: rgba(255, 128, 216,.3);
                @include transition(.2s);
            }
            &:hover{
                color: $theme-color;
                // border: 1px solid $theme-color;
                i{
                    color: $theme-color;
                }
            }
            
        }
        &.slick-prev {
            left: -40px;
            @media #{$laptop}{
            left: -20px;
            }
            @media #{$large1}{
            left: -30px;
            }
            @media #{$lg}{
            left: -20px;
            }
            @media #{$md}{
            left: -20px;
            }
            @media #{$sm}{
            left: -10px;
            }
        }
        &.slick-next {
            right: -40px;
            @media #{$laptop}{
                right: -20px;
            }
            @media #{$large1}{
                right: -30px;
            }
            @media #{$lg}{
                right: -20px;
            }
            @media #{$md}{
                right: -20px;
            }
            @media #{$sm}{
                right: -10px;
            }
        }
    }
}
