// Visit One
.visit-one{
    background-color: #fff;
    display: flex;
    align-items: center;
    @media #{$md}{
      display: block;
    }
    @media #{$xs}{
      display: block;
    }
    @media #{$sm}{
      display: block;
    }
    // left Contents
    .tailor-details{
        width: 35%;
        padding: 20px 40px 20px 80px;
        @media #{$lg}{
            width: 49%;
            padding: 20px 20px 20px 50px;
        }
        @media #{$large1}{
            width: 55%
        }
        @media #{$laptop}{
            width: 41%
        }
        @media #{$md}{
            width: 82%;
            padding: 50px 30px;
        }
        @media #{$sm}{
            width: 100%;
            padding: 50px 30px;
        }
        @media #{$xs}{
            width: 100%;
            padding: 50px 30px;
        }

    }

    // -Right Contents
    .visit-team{
        background-image: url(../img/gallery/visit1.jpg);
        background-size: cover;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 850px;
        width: 52%;
         @media #{$lg}{
            width: 60%;
        }
        @media #{$sm}{
            width: 100%;
        }
        @media #{$md}{
            width: 100%;
            height: 400px;
        }
        @media #{$sm}{
            height: 400px;
            width: 100%;
        }
        @media #{$xs}{
            height: 300px;
            width: 100%;
        }
    }
    .single-items{
        h4{
            font-size: 20px;
            font-weight: 600;
            color: $theme-color;
            margin-bottom: 15px;
        }   
        p{
            font-size: 16px;
            font-weight: 400;
        }
    }
    .collapse-wrapper{
        .accordion-item {
            border: 0;
            border-radius: 0;
            margin-bottom: 0px;
            border-radius: 4px;
            border-top: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
        }
        .accordion:last-child {
            margin-bottom: 0px;
        }
        .accordion-header {
            padding: 0;
            border-radius: 0;
            background: none;
            border: 0;
            .accordion-button{
                background: none;
                border: 0;
                text-align: left;
                color: $heading-color;
                padding: 20px 10px 21px 0px;
                font-size: 20px;
                font-weight:700;
                border-radius: 0;
                display: block;
                text-decoration: none;
                @media #{$xs}{
                    padding: 20px 0px 21px 13px;
                }
                &::after {
                    position: absolute;
                    top: 24px;
                    font-size: 15px;
                    color: $theme-color;
                    right: 18px;
                    font-weight: 700;
                    content: "\e648";
                    font-family: 'themify';
                    background-image: none;
                    outline: 0;
                    transform: rotate(0deg);
                }
                &.collapsed {
                    border: 0;
                    &::after {
                        content: "\e64b";
                        font-weight: 800;
                    }
                }
                &:focus{
                    box-shadow:none;
                }
            }
        }
        .accordion-collapse{
            border: 0;
            &.show{
                background:#fff;
            }
            .accordion-body {
                @include transition(.3s);
                background: #fff;
                padding: 20px 5px;
            }
        }
        
    }
}

// visit Two
.visit-two{
    background-color: #fff;
    display: flex;
    align-items: center;
    @media #{$md}{
      display: block;
    }
    @media #{$xs}{
      display: block;
    }
    @media #{$sm}{
      display: block;
    }
    // left Contents
    .tailor-details{
        width: 57%;
        padding: 20px 90px 20px 380px;
        @media #{$large1}{
            width: 50%;
            padding: 20px 30px 20px 80px;
        }
        @media #{$large2}{
            width: 50%;
            padding: 20px 30px 20px 80px;
        }
        @media #{$lg}{
            width: 55%;
            padding: 20px 30px 20px 80px;
        }
        @media #{$md}{
            width: 82%;
            padding: 50px 30px;
        }
        @media #{$sm}{
            width: 100%;
            padding: 0px 30px;
        }
        @media #{$xs}{
            width: 100%;
            padding: 0px 30px;
        }
        .pera{
            padding-top: 20px;
            font-size: 28px;
            color: #000000;
            font-weight: 300;
            margin-bottom: 40px;
        }

    }

    // -Right Contents
    .visit-team{
        background-image: url(../img/gallery/visit2.jpg);
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 450px;
        width: 43%;
        @media #{$large1}{
            width: 50%;
        }
        @media #{$large2}{
            width: 50%;
        }
         @media #{$lg}{
            width: 46%;
        }
        @media #{$sm}{
            width: 100%;
        }
        @media #{$md}{
            width: 100%;
            height: 400px;
        }
        @media #{$sm}{
            height: 400px;
            width: 100%;
        }
        @media #{$xs}{
            height: 300px;
            width: 100%;
        }
    }
}

// visit Three
.visit-three{
    background-color:#000000;
    display: flex;
    align-items: center;
    @media #{$lg}{
      display: block;
    }
    @media #{$md}{
      display: block;
    }
    @media #{$xs}{
      display: block;
    }
    @media #{$sm}{
      display: block;
    }

    // left Contents
    .tailor-details{
        width: 41%;
        padding: 20px 40px 20px 80px;
        @media #{$large1}{
            width: 50%;
        }
        @media #{$large2}{
            width: 50%;
        }
        @media #{$lg}{
            width: 90%;
            padding: 50px 20px 50px 50px;
        }
        @media #{$md}{
            width: 90%;
            padding: 50px 30px;
        }
        @media #{$sm}{
            width: 100%;
            padding: 50px 30px;
        }
        @media #{$xs}{
            width: 100%;
            padding: 50px 30px;
        }

        .single-gallery{
            @include transition(.4s);
            background: none;
            border: 1px solid #4B4B4B;
            padding: 30px;
            
            // Caption
            .thumb-content-box {
                @media #{$sm}{
                    flex-wrap: wrap;
                 }
                @media #{$xs}{
                    flex-wrap: wrap;
                 }
                 .room-img{
                    @media #{$sm}{
                        margin-bottom: 30px;
                     }
                    @media #{$xs}{
                        margin-bottom: 30px;
                     }
                 }
                .thumb-content {
                    @include transition(.4s);
                    bottom: -58px;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                    span{
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 16px;
                        margin-bottom: 20px;
                        display: block;
                    }
                    h3 {
                        @include transition(.4s);
                        color: #ffffff;
                        font-weight: 400;
                        font-size: 20px;
                        margin-bottom: 25px;
                        font-weight: 700;
                        @media #{$md}{
                            br{
                                display: none;
                            }
                        }
                        @media #{$sm}{
                            br{
                                display: none;
                            }
                        }
                        @media #{$xs}{
                            font-size: 21px;
                            br{
                                display: none;
                            }
                        }
                    }
                    p{
                        color: #B2B2B2;
                        font-size: 16px;
                        line-height: 1.5;
                    }
                    a {
                        border: 0;
                        color: #fff;
                        background: rgba(255, 255, 255,.1);
                        width: 60px;
                        height: 60px;
                        line-height: 65px;
                        display: block;
                        text-align: center;
                        border-radius: 50%;

                        opacity: 0;
                        visibility: hidden;
                        &:hover {
                            color: #fff;
                            background: $theme-color;
                        }
                    }
                }
            }
            &:hover{
                background: #272727;
                border: 1px solid transparent;
                padding: 30px;
                // Caption
                .thumb-content-box {
                    .thumb-content {
                        h3 {
                            color: $theme-color;
                        }
                        a {
                            background:#fff;
                            color: $theme-color;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    // -Right Contents
    .visit-team{
        background-image: url(../img/gallery/visit3.jpg);
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 752px;
        width: 57%;
        @media #{$large1}{
            width: 50%;
        }
        @media #{$large2}{
            width: 50%;
        }
        @media #{$lg}{
            height: 502px;
            width: 100%;
            
        }
        @media #{$sm}{
            width: 100%;
        }
        @media #{$md}{
            width: 100%;
            height: 400px;
        }
        @media #{$sm}{
            height: 400px;
            width: 100%;
        }
        @media #{$xs}{
            height: 300px;
            width: 100%;
        }
    }
}

// Video
.visit-tailor-video{
    background: #F8F8F8;
    @include flexbox();
    @include align-items(center);
    @media #{$md}{
      display: block;
    }
    @media #{$xs}{
      display: block;
    }
    @media #{$sm}{
      display: block;
    }
    // left Contents
    .tailor-details{
        width: 50%;
        padding: 20px 100px 20px 300px;
        @media #{$large1}{
            padding: 20px 80px 20px 80px;
            width: 50%;
        }
        @media #{$large2}{
            padding: 20px 80px 20px 80px;
            width: 50%;
        }
        @media #{$lg}{
            width: 53%;
            padding: 50px 20px 20px 50px;
        }
        @media #{$md}{
            width: 76%;
            padding: 50px 30px;
        }
        @media #{$sm}{
            width: 100%;
            padding: 50px 30px;
            padding-top: 50px;
        }
        @media #{$xs}{

            width: 100%;
            padding: 50px 30px;
            padding-top: 50px;
        }
        span{
            
            color: $heading-color;
            margin-bottom: 22px; 
            display: block;
        }
        h2 {
            color: $heading-color;
            font-size:58px;
            display: block;
            font-weight: 600;
            line-height: 1.1;
            margin-bottom:40px;
            @media #{$lg}{
                font-size: 37px;
            }
            @media #{$sm}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 26px;
            }
        }
        p{
            line-height: 1.7;
            font-size: 18px;
        }
        p.pera-bottom{
            margin-bottom: 41px;
            @media #{$xs}{
                font-size: 15px;
            }
            @media #{$sm}{
                font-size: 13px;
            }
        }
    }
    // -Right Contents
    .tailor-offers{
        background-image: url(../img/gallery/visit4.jpg);
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height:528px;
        width: 50%;
         @media #{$large1}{
            width: 50%;
        }
        @media #{$large2}{
            width: 50%;
        }
         @media #{$lg}{
            width: 49%;
            height:560px;
        }
        @media #{$sm}{
            width: 100%;
            height: 400px;
        }
        @media #{$md}{
            width: 100%;
            height: 400px;
        }
        @media #{$xs}{
            width: 100%;
            height: 400px;
        }

        // Video icon
        .video-icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            text-align: center;
            @media #{$lg}{
                // right: 48px;
            }
            @media #{$md}{
                // right: 63px;
            }

            a{
                background: #fff;
                color: #F04506;
                width: 100px;
                height: 100px;
                display: inline-block;
                text-align: center;
                line-height: 100px;
                border-radius: 50%;
                img{
                    position: relative;
                    z-index: 1;
                }
                &::after{
                        position: absolute;
                        border: 100px solid rgba(255, 255, 255,.3);
                        content: "";
                        border-radius: 50%;
                        left: -49px;
                        top: -50px;
                        right: 0;
                        z-index: 0;
                        background: #0000;
                        @media #{$xs}{
                            border: 70px solid rgba(225, 255, 255,.2);
                            left: -35px;
                            top: -34px;
                            right: 0;
                            position: unset;
                            border: 0;
                        }
                }
                @media #{$xs}{
                    width: 60px;
                    height: 60px; 
                    line-height: 60px;
                }
                i{
                    font-size: 20px;
                    font-size: 20px;
                    line-height: 1;
                    position: relative;
                    right: -2px;
                    top: 2px;
                    color: #F04506;
                }
                &:hover{
                    // background: $theme-color;
                    i{
                        color: #fff;
                    }
                }
            } 
            // btn Animated Style
            a.btn-icon{
                position: relative;
                &::before{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    bottom: -2px;
                    right: -2px;
                    border-radius: inherit;
                    border: 1px solid #fff;
                    -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
                    animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;

                    @media #{$xs}{
                    position: unset;
                    border: 0;
                    }
                }
                /* Animations */
                @-webkit-keyframes btnIconRipple { 
                    0% { border-width: 4px;
                        -webkit-transform: scale(1);
                        transform: scale(1); }
                    50% { 
                        border-width: 1px;
                        -webkit-transform: scale(1.50);
                        transform: scale(1.50); 
                        }
                    80% { 
                        border-width: 1px;
                        -webkit-transform: scale(1.90);
                        transform: scale(1.90); 
                        }
                    100% { 
                        opacity: 0; }
                    }
                    @media #{$xs}{
                        position: unset;
                    }
                /* End Animated */
                &:hover{
                    // background: #c6a16e;
                    // background: #fff;
                    // color: #FF9F67;
                }
            }
        }
    }
}





// Testimonial Area
.testi-tittle{
    h4{
        color: $theme-color;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}
.h1-testimonial-active{
    .testimonial-caption{
        .testimonial-top-cap{
            img{
                margin-bottom: 35px;
                width: auto;
                display: inline-block;
            }
            p{
                color:#636363;
                line-height: 1.5;
                margin-bottom: 32px;
                font-size: 28px;
                font-weight: 300;
                @media #{$lg}{

                }
                @media #{$md}{
                    padding: 0px;
                }
                @media #{$sm}{
                    margin-bottom: 30px;
                }
                @media #{$xs}{
                    font-size: 15px;
                    margin-bottom: 30px;
                }

            }
        }
        .testimonial-founder{
            .founder-img{

            }
            .founder-text{
                margin-left: 20px;
                text-align: left;
                span{
                    color: $heading-color;
                    font-family: $font_2;
                    font-size: 20px;
                    font-weight: 600;
                    text-align: left;
                    margin-bottom: 1px;

                }
                p{
                    color:#74706B;
                    font-weight:500;
                    line-height:1.5 ;
                    margin: 0;
                }
            }
        }
    }
}
// Arrow
.h1-testimonial-active{
    button{
        &.slick-arrow {
            position: absolute;
            right: -50px;
            bottom: -88px;
            border: 0;
            padding: 0;
            z-index: 2;
            opacity: 1;
            visibility: visible;
            height: 50px;
            width: 50px;
            line-height: 60px;
            cursor: pointer;
            background: #fff;
            @media #{$large1}{
                right: -29px;
            }
            @media #{$large2}{
                right: -29px;
            }
            @media #{$lg}{
                right: 29px;
            }
            @media #{$md}{
                right: -50px;
                bottom: 0;
            }
            @media #{$sm}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            @media #{$xs}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            i{
                font-size: 20px;
 
                color: $theme-color;
                // @media #{$md}{
                //     line-height: 40px;
                // }
                // @media #{$sm}{
                //     line-height: 40px;
                // }
                // @media #{$xs}{
                //     line-height: 40px;
                // }
            }
        }
        &.slick-next {
            right: -100px;
            background: $theme-color;
            @media #{$large1}{
                right: -80px;
            }
            @media #{$large2}{
                right: -80px;
            }
            @media #{$lg}{
                right: -21px;
            }
            i{
                color: #fff;
            }
        }
    }
    
}
.slick-initialized .slick-slide {
    outline: 0;
}