.video-area{
    position: relative; 
    height: 560px;  
    border-radius: 20px;
    @media #{$lg}{
        height: 450px;
    }
    @media #{$md}{
        height: 450px;
    }
    @media #{$sm}{
        height: 350px;
    }
    @media #{$xs}{
        height: 350px;
    }
    // Video icon
    .video-wrap {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        margin: 0 auto;
        text-align: center;
        z-index: 1;
        .video-icon{
            a{
                margin-bottom: 20px;
                display: block;
            }
            img{

            }
        }
        h3{
            color: #fff;
            font-weight: 600;
            font-size: 30px;
            @media #{$xs}{
                font-size: 24px;
            }
        }

    }


}

