
.feature-area{
    padding-top: 110px;
    padding-bottom: 120px;
    @media #{$lg}{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media #{$md}{
        padding-top: 100px;
        padding-bottom: 70px;
    }
    @media #{$sm}{
        padding-top: 65px;
        padding-bottom: 70px;
    }
    @media #{$xs}{
        padding-top: 65px;
        padding-bottom: 70px;
    }

    &.feature-area2{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .single-offers{
        background: #fff;
        padding: 34px 37px 15px 92px;
        box-shadow: 0px 12px  20px rgba(0, 0, 0,0.06);
        @media #{$sm}{
            // padding-left: 0px;
        }
        @media #{$xs}{
            padding: 34px 21px 15px 92px;
            padding-left: 65px;
        }
        .offers-cap{
            position: relative;
            img{
                position: absolute;
                width: 35px;
                height: 35px;
                top: 7px;
                left: -55px;
                font-size: 14px;
                text-align: center;
                border-radius: 50%; 
            }
            h3{
              a{
                font-size: 25px;
                font-weight: 700;
                line-height: 1.5;
                margin-bottom: 14px;
                display: block;

                @include transition(.4s);
                @media #{$lg}{
                    font-size: 22px;
                }
                @media #{$sm}{
                    font-size: 29px;
                }
                
              }
            }
            p{
                color: #101A31;
                margin-bottom: 30px;
                @media #{$sm}{
                    font-size: 15px;
                }
            }
            a{
                i{
                    transform: rotate(45deg);
                    display: inline-block;
                    color: #fff;
                    font-size: 27px;
                    font-weight: 600;
                    @include transition(.4s);
                    
                }
            }
        }
    }
    .single-offers:hover{
        .offers-cap{
            h3{
                a{
                    color:$heading-color;
                }
            }
            a{
                i{
                    color: #fff;
                }
            }
        }
    }
    
}

