.location-house{
    // padding-left: 200px;
    // padding-right: 25px;
    
    // @media #{$laptop}{
    //     padding-left: 44px;
    //     padding-right: 10px;
    // }
    // @media #{$lg}{
    //     padding: 0;
    // }
    // @media #{$md}{
    //     padding: 0;
    // }
    // @media #{$sm}{
    //     padding: 0;
    // }
    // @media #{$xs}{
    //     padding: 0;
    // }

    .single-location{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            @extend %overlay2;
            opacity: 0;
            visibility: hidden;
            z-index: 0;
            @include transition(.4s);
        }
        .location-contents{
            position: absolute;
            left: 20px;
            bottom: 25px;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            @include transition(.4s);
            h3{
                a{
                    @include transition(.4s);
                    color: #fff;
                    display: inline-block;
                    font-size: 26px;
                    font-weight: 700;
                    @media #{$md}{
                        font-size: 18px;
                    }
                    @media #{$sm}{
                        font-size: 18px;
                    }
                }
            }
            p{
                margin-bottom: 0;
                color: $theme-color;
            }
        }

        &:hover{
            .location-contents{
                bottom: 30px;
                visibility: visible;
                opacity: 1;
            }
            &::before{
                visibility: visible;
                opacity: 1;
            }
       }
    }
}

