html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    box-sizing: border-box;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

button,
input,
select {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
}

button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

iframe {
    border: none;
}

ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

p {
    color: #485460;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

.btn,
button,
.actionbg {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
}

.btn:hover,
button:hover {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

/*--/wrapper--*/
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

.wrapper-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*--//wrapper--*/
.coming-page-infohny {
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 30px 0;
}

.coming-page-infohny:before {
    content: "";
    background: rgb(8 4 4 / 70%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.coming-page-infohny .alive-bottom{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}
.coming-page-infohny .header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}
a.brand-logo img {
    max-width: 100%;
}
.coming-page-infohny .top-hny-logo {
    padding: 2em 0;
}

.coming-page-infohny a.brand-logo span.fa {
    color: #2dacf3;
}

.coming-page-infohny .coming-block {
    margin: 100px auto;
    text-align: center;
    padding: 2em 0;
    display: grid;
}

a.alive-btn {
    font-size: 18px;
    border: 1px solid #fca311;
    outline: none;
    padding: 0 40px;
    line-height: 54px;
    border-radius: 6px;
    color: #fff;
    background: #fca311;
    transition: .3s ease-in-out;
    height: 60px;
    display: inline-block;
    font-weight: 600;
}
a.alive-btn:hover{
    opacity:0.8;
}
a.brand-logo{
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}
.coming-page-infohny h1 {
    margin: 0;
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    line-height: 110px;
    text-transform: capitalize;
    margin-bottom: 16px;
    font-family: 'Playfair Display', serif;
}
.coming-page-infohny h6{
    font-size:20px;
    font-weight: 700;
    color: #fff;
    line-height:30px;
    text-transform: capitalize;
    margin-bottom:20px;
}
h2.parahny {
    line-height: 26px;
    opacity: 0.9;
    color: #fca311;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.coming-page-infohny .countdown {
    display: table;
    font-size: 28px;
    font-weight: 500;
}

.coming-page-infohny .countdown>div {
    float: left;
    min-width:80px;
    margin: 0px 20px 20px 0px;
    font-size:38px;
    font-weight:700;
    color: #fff;
}

.coming-page-infohny .countdown>div:last-child {
    border-right: none;
}
.subscribe-wthree-field4 {
    margin-top: 30px;
}
.coming-page-infohny p {
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
    text-transform:capitalize;
}

.coming-page-infohny .countdown span {
    position: relative;
    display: block;
    font-size: 13px;
    text-align: left;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f2f2f2;
}
.copyright-footer p {
    font-size: 16px;
    letter-spacing: 1px;
}
.copyright-footer {
    text-align: left;
}
.copyright-footer p a{
    color:#fff;
}
ul.social li {
    display: inline-block;

}

ul.social li a {
    color: #fff;
    display: inline-block;
    background: none;
    text-align: center;

}

ul.social li a:hover {
    color:#fca311;
    transition: 0.3s ease;
}

ul.social li a span {
    font-size:18px;
    line-height: 32px;
    margin-left:20px;
}

.copyright-footer a {
    font-size: 16px;
    line-height: 20px;
    color: #f9f9f9;
}

.copyright-footer a:hover {
    opacity:0.9;
    text-decoration:underline;
    transition: 0.3s ease;
}

@media (max-width: 1600px) {}

@media (max-width: 1366px) {}

@media (max-width:1080px) {

}

@media (max-width: 991px) {
    .coming-page-infohny .alive-bottom {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        grid-gap: 0 10px;
    }
}

@media (max-width: 768px) {
    .coming-page-infohny h1 {
        font-size: 66px;
        line-height: 76px;
    }
    .copyright-footer p {
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 28px;
    }
    .coming-page-infohny .coming-block {
        margin: 50px auto;
        text-align: center;
        padding: 1em 0;
        display: grid;
    }
}

@media (max-width: 600px) {
    .coming-page-infohny .countdown>div {
        float: left;
        min-width: 100px;
        margin:0px 10px 30px 0px;
        font-size: 40px;
    }
    .coming-page-infohny h2 {
        margin: 0;
        font-size: 14px;
        margin-bottom: 10px;
    }
    ul.social li {
        margin-left: 6px;
    }
    .coming-page-infohny h6 {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 18px;
    }
}

@media (max-width: 480px) {
    .coming-page-infohny .countdown>div {
        min-width:80px;
    }
    .coming-page-infohny .countdown>div {
        margin:0px 6px 30px 0px;
        font-size: 34px;
    }
    .coming-page-infohny h1 {
        font-size: 44px;
        line-height: 54px;
        margin-bottom: 10px;
    }
    .coming-page-infohny .header {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 4fr;
        grid-gap: 0 6px;
    }
    .coming-page-infohny h2 {
        margin: 0;
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media (max-width: 415px) {
    .coming-page-infohny a.brand-logo {
        font-size: 28px;
    }
    ul.social li {
        margin-left: 2px;
    }
}

@media (max-width: 384px) {
    .coming-page-infohny .coming-block {
        margin: 50px auto 30px;
    }

    .coming-page-infohny .countdown span {
        font-size: 10px;
        letter-spacing: 1px;
    }

    .coming-page-infohny .countdown>div {
        font-size: 30px;
    }
}

@media (max-width: 376px) {
    .header {
        grid-gap: 0px;
    }
    ul.social li {
        margin-left: 2px;
    }
    .coming-page-infohny {
        padding: 20px 0;
    }
    .coming-page-infohny h1 {
        font: size 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .coming-page-infohny .countdown>div {
        font-size: 22px;
        min-width: 68px;
    }
}