.site-footer {
	background: #222;
	// font-size: 14px;	
	color: #aaa;
	padding: 70px 0;
	// color: $white;
	a {
		color: #777;
		position: relative;
		display: inline-block;
		&:before {
			position: absolute;
			left: 0;
			right: 0;
			content: "";
			// background: rgba($primary, .1);
			background: lighten(#222, 3%);
			height: 20%;
			width: 100%;
			bottom: 0;
			transition: .3s all ease;
		}
		&:hover {
			color: $white;
			&:before {
				background: rgba($primary, 1);
			}
		}
	}
	.btn {
		&:before {
			display: none;
		}
	}
	address {
		color: $white;
	}
	.widget {
		margin-bottom: 40px;
		display: block;
		h3 {
			font-size: 16px;
			color: $white;
			font-weight: 700;
			margin-bottom: 30px;
		}

		.links {
			width: 150px;
			li {
				margin-bottom: 10px;
			}
		}
	}

	.social {
		li {
			display: inline-block;
			a {
				display: inline-block;
				width: 30px;
				height: 30px;
				position: relative;
				background: $primary;
				border-radius: 50%;
				color: $white;
				&:before {
					display: none;
				}
				> span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&:hover {
					background: lighten($primary, 10%);
					color: $white;
				}
			}
		}
	}

}
