/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: lighten($primary, 48);
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: $primary;
    position: relative;
    z-index: 2;
  }

  span {
    position: absolute;
    top: 30px;
    color: lighten($secondary, 69);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
  }

  p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }

  @media (max-width: 575px) {
    h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }
    span {
      font-size: 38px;
    }
  }

}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {

  .content {
    padding-left: 30px;

    h3 {
      font-weight: 700;
      font-size: 34px;
    }

    p {
      margin-bottom: 0;
    }

    .icon-box {
      margin-top: 25px;

      h4 {
        font-size: 20px;
        font-weight: 700;
        margin: 5px 0 10px 60px;

      }
    
      i {
        font-size: 48px;
        float: left;
        color: $primary;
      }
    
      p {
        font-size: 15px;
        color: lighten($default, 25);
        margin-left: 60px;
      }
      
    }
  
  }

  .image  {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }

  @media (max-width: 991px) {
    padding-left: 0;
    .image {
      text-align: center;
      img {
        max-width: 80%;
      }
    }
  }

  @media (max-width: 667px) {
    .image {
      img {
        max-width: 100%;
      }
    }
  }

}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  background: lighten($secondary, 69);
  padding: 15px 0;
  text-align: center;

  img {
    width: 50%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    &:hover {
      filter: none;
      transform: scale(1.2);
    }

    @media (max-width: 768px) {
      width: 40%;
    }

    @media (max-width: 575px) {
      width: 50%;
    }
  }
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {

  .card {
    border-radius: 5px;
    overflow: hidden;
    border: 0;
    background: lighten($secondary, 70);
    position: relative;
    transition: 0.3s;
  }

  .card-body {
    padding-top: 20px;
    position: relative;

    i {
      font-size: 120px;
      color: lighten($secondary, 64);
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
    }
  }

  .card-title {
    font-weight: 700;
    position: relative;
    z-index: 2;
    a {
      color: $secondary;
      transition: 0.3s;
    }
  }

  .card-text {
    position: relative;
    z-index: 2;
    color: lighten($default, 10);
  }

  .card:hover {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
    background: $white;
    .card-title a {
      color: $primary;
    }
  }

  @media (max-width: 1024px) {
    background-attachment: scroll;
  }

}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.6), rgba(0, 0 ,0 , .8)), url("../img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;

  h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  p {
    color: #fff;
  }

  .cta-btn {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: $primary;
      border: 2px solid $primary;
    }
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {

  padding-bottom: 30px;

  .icon-box {
    margin-bottom: 20px;
    padding: 30px 15px;
    border-radius: 6px;
    background: $white;

    i {
      float: left;
      color: $primary;
      font-size: 40px;
      line-height: 0;
    }

    h4 {
      margin-left: 70px;
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 18px;
      a {
        color: $secondary;
        transition: 0.3s;
      }

    }

    .icon-box:hover h4 a {
      color: $primary;
    }

    p{
      margin-left: 70px;
      line-height: 24px;
      font-size: 14px;
    }
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {

  .portfolio-item {
    margin-bottom: 30px;
  }

  #portfolio-flters {
    padding:0;
    margin:0 auto 35px auto;
    list-style:none;
    text-align:center;
    border-radius: 50px;
    padding: 2px 15px;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      color: $default;
      transition: all 0.3s ease-in-out;

      &:hover, &.filter-active {
        color: $primary;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    $portfolio_wrap_spacing: 30px;
    &::before {
      content: "";
      background: rgba(0,0,0, 0.6);
      position: absolute;
      left: $portfolio_wrap_spacing;
      right: $portfolio_wrap_spacing;
      top: $portfolio_wrap_spacing;
      bottom: $portfolio_wrap_spacing;
      transition: all ease-in-out 0.3s;
      z-index: 2;
      opacity: 0;
    }

    .portfolio-info {
      opacity: 0;
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 3;
      transition: all ease-in-out 0.3s;

      h4 {
        font-size: 20px;
        color: $white;
        font-weight: 600;
      }

      p {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
      }
      
    }

    .portfolio-links {
      opacity: 0;
      left: 0;
      right: 0;
      bottom: 10%;
      text-align: center;
      z-index: 3;
      position: absolute;
      transition: all ease-in-out 0.3s;

      a {
        color: $white;
        margin: 0 2px;
        font-size: 28px;
        display: inline-block;
        transition: 0.3s;

        &:hover {
          color: $primary;
        }
      }

    }

    &:hover {
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
      }

      .portfolio-info {
        opacity: 1;
        top: calc(50% - 48px);
      }

      .portfolio-links {
        opacity: 1;
        bottom: calc(50% - 50px);
      }
      
    }
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {

  padding-top: 40px;

  .portfolio-details-slider {
    img {
      width: 100%;
    }
    .swiper-pagination {
      margin-top: 20px;
      position: relative;

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid $primary;
      }

      .swiper-pagination-bullet-active {
        background-color: $primary;
      }
    }

  }

  .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba($secondary, 0.08);

    h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: 15px;

      li +li {
        margin-top: 10px;
      }
    }
    
  }

  .portfolio-description {
    padding-top: 30px;
    
    h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      padding: 0;
    }
  }

}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 80px 0;
  background: url("../img/testimonials-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(darken($secondary, 20), 0.7);
  }

  .section-header {
    margin-bottom: 40px;
  }

  .testimonial-item {
    text-align: center;
    color: $white;

    .testimonial-img {
      width: 100px;
      border-radius: 50%;
      border: 6px solid rgba($white, .15);
      margin: 0 auto;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0 5px 0;
      color: $white;
    }

    h4 {
      font-size: 14px;
      color: #ddd;
      margin: 0 0 15px 0;
    }

    .quote-icon-left, .quote-icon-right {
      color: rgba($white, .4);
      font-size: 26px;
    }

    .quote-icon-left {
      display: inline-block;
      left: -5px;
      position: relative;
    }

    .quote-icon-right {
      display: inline-block;
      right: -5px;
      position: relative;
      top:10px;
    }

    p {
      font-style: italic;
      margin: 0 auto 15px auto;
      color: #eee;
    }

  }

  .swiper-pagination {
    margin-top: 20px;
    position: relative;
  
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: rgba(#fff, .5);
      opacity: 1;
    }
  
    .swiper-pagination-bullet-active {
      background-color: $primary;
    }
  }

  @media (min-width: 1024px) {
    background-attachment: fixed;
  }

  @media (min-width: 992px) {
    .testimonial-item p {
      width: 80%;
    } 
  }

}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0 0 0;

  .member {
    text-align: center;
    background: $black;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    .member-info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      transition: bottom 0.4s;

      h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
        color: #fff;
      }
  
      span {
        font-style: italic;
        display: block;
        font-size: 13px;
        color: #fff;
      }

    }

    .social {
      position: absolute;
      left: 0;
      bottom: -38px;
      right: 0;
      height: 48px;
      transition: bottom ease-in-out 0.4s;
      text-align: center;
      a {
        transition: color 0.3s;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        &:hover {
          color: $primary;
        }

      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    &:hover {
      .member-info {
        background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 20%, rgba(0,212,255,0) 100%);
        opacity: 1;
        transition:  0.4s;
      }

      .member-info-content {
        bottom: 60px;
        transition: bottom 0.4s;
      }

      .social {
        bottom: 0;
        transition: bottom ease-in-out 0.4s;
      }
    }

  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing {

  .row {
    padding-top: 40px;
  }

  .box {
    padding: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    text-align: center;
  }

  h3 {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 28px;
  }

  h4 {
    font-size: 46px;
    color: $primary;
    font-weight: 400;
    font-family: $font-default;
    margin-bottom: 25px;

    span {
      color: #bababa;
      font-size: 18px;
      display: block;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;

    li {
      padding-bottom: 12px;
    }

    i {
      color: $primary;
      font-size: 18px;
      padding-right: 4px;
    }
    .na {
      color: #ccc;
      i {
        color: #ccc;
      }
      span {
        text-decoration: line-through;
      }
    }
  }

  .get-started-btn {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 5px;
    color: $secondary;
    transition: none;
    font-size: 15px;
    font-weight: 400;
    font-family: $font-primary;
    transition: 0.3s;
    font-weight: 500;
    border: 2px solid lighten($secondary, 60);

    &:hover {
      color: $primary;
      border-color: $primary;
    }
  }

  .featured {
    z-index: 10;
    margin: -30px -5px 0 -5px;
    background: $primary;

    h3, h4, h4 span, ul, ul .na, ul i, ul .na i {
      color: $white;
    }

    .get-started-btn {
      border-color: $white;
      color: $white;
      &:hover {
        color: $primary;
        background: $white;
      }
    }
  }

  @media (max-width: 992px) {
    .box {
      max-width: 60%;
      margin: 0 auto 30px auto
    }
  }

  @media (max-width: 767px) {
    .box {
      max-width: 80%;
      margin: 0 auto 30px auto
    }
  }

  @media (max-width: 420px) {
    .box {
      max-width: 100%;
      margin: 0 auto 30px auto
    }
  }

}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq  {

  background: lighten($primary, 46);
  padding: 60px 0;

  .section-title span {
    color: lighten($secondary, 68);
  }

  .faq-list {
    padding: 0 100px;
    ul {
      padding: 0;
      list-style: none;
    }

    li + li {
      margin-top: 15px;
    }

    li {
      padding: 20px;
      background: #fff;
      border-radius: 4px;
      position: relative;
    }

    a {
      display: block;
      position: relative;
      font-family: $font-secondary;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      padding: 0 30px;
      outline: none;
      cursor: pointer;
    }

    .icon-help {
      font-size: 24px;
      position: absolute;
      right: 0;
      left: 20px;
      color: lighten($primary, 25);
    }

    .icon-show, .icon-close {
      font-size: 24px;
      position: absolute;
      right: 0;
      top: 0;
    }

    p {
      margin-bottom: 0;
      padding: 10px 0 0 0;
    }

    .icon-show {
      display: none;
    }


    a.collapsed {
      color: $black;
      &:hover {
        color: $primary;
      }

      .icon-show {
        display: inline-block;
      }

      .icon-close {
        display: none;
      }
    }
  }

  @media (max-width: 1200px) {
    .faq-list {
      padding: 0;
    }
  }
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact {

  .info-box {
    color: $default;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px;

    i {
      font-size: 32px;
      color: $primary;
      border-radius: 50%;
      padding: 8px;
      border: 2px dotted lighten($primary, 35);
      float: left;
    }

    h3 {
      font-size: 20px;
      color: lighten($default, 20);
      font-weight: 700;
      margin: 10px 0 10px 68px;
    }

    p {
      padding: 0;
      line-height: 24px;
      font-size: 14px;
      margin: 0 0 0 68px;
    }

  }

  .php-email-form {

    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    
    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;
      & br + br {
        margin-top: 25px;
      }
    }
    
    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
  
    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
  
      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        animation: animate-loading 1s linear infinite;
      }
  
    }

    input, textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      &:focus {
        border-color: $primary;
      }
    }

    input {
      padding: 10px 15px;
    }

    textarea {
      padding: 12px 15px;
    }

    button[type="submit"] {
      background: $primary;
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;
      border-radius: 5px;
      &:hover {
        background: darken($primary, 5);
      }
    }
  
  }
  
  @keyframes animate-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: lighten($secondary, 70);
  min-height: 40px;

  h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    @media (max-width: 992px) {
      margin: 0 0 10px 0;
    }
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    li + li {
      padding-left: 10px;
    }

    li + li::before {
      display: inline-block;
      padding-right: 10px;
      color: lighten($secondary, 10);
      content: "/";
    }
  }

  @media (max-width: 768px) {
    .d-flex {
      display: block !important;

    }
    
    ol {
      display: block;
      li {
        display: inline-block;
      }
      
    }
  }
}
