.header-area {
    
    .main-header{
        // Header Top
        .header-top{
            background: #004274;
            // mobile menu show
            @media #{$md}{
                padding: 15px 20px;
            }
            @media #{$sm}{
                padding: 15px 20px;
            }
            @media #{$xs}{
                padding: 15px 0px;
            }

            .main-menu{
                margin-left: 30px;
                @media #{$large1}{
                    margin-left: 20px; 
                }
                @media #{$lg}{
                    margin-left: 30px; 
                }
                ul{
                & > li{
                        display: inline-block;
                        position: relative;
                        z-index: 1;
                        margin: 0px 14px;
                        &:last-child{
                            margin:0;
                        }
                        @media #{$lg}{
                            margin: 0px 15px;
                        }
                        a{
                            font-family: $font_2;
                            color: #FFF;
                            font-weight: 400;
                            padding: 21px 7px;

                            display: block;
                            font-size: 18px;
                            @include transition(.3s);
                            text-transform: capitalize;
                            position: relative;
                            @media #{$lg}{
                                font-size: 18px;
                            }
                            &::after{
                                content: "";
                                position: absolute;
                                width: 0;
                                bottom: 0px;
                                right: 5px;
                                left: -5px;
                                height: 3px;
                                z-index: 1;
                                @include transition(.4s);
                                background:$theme-color;
                            }
                            }
                        &:hover{
                            & > a{
                                color:$theme-color;
                                &::after{
                                    left: 0;
                                    right: auto;
                                    width: 100%;
                                    @include transition(.4s);
                                }
                            }

                        }
                    }
                    ul.submenu{
                        position: absolute;
                        width: 170px;
                        background: #fff;
                        left: 0;
                        top: 120%;
                        visibility: hidden;
                        opacity: 0;
                        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                        padding: 17px 0;
                        // border-top: 5px solid $theme-color;
                        @include transition(.3s);
                        & > li{
                            margin-left: 7px;
                            display: block;
                            &:last-child{
                                margin: 0px 8px;
                            }
                            & > a{
                                padding: 6px 10px !important;
                                font-size: 17px;
                                color: $heading-color;
                                font-weight: 400;
                                text-transform: capitalize;
                                &::after{
                                    position: unset;
                                }
                                &:hover{
                                    color:$theme-color;
                                    background: none;
                                }
                                & i{
                                    // @include transition(.4s);
                                }
                            }
                        } 
                    }
                }
            }
            .logo{
                float: left;
                img{
                    
                }
            }

            // Hover Show Sub-menu
            ul > li:hover > ul.submenu {
                visibility: visible;
                opacity: 1;
                top: 100%;
                z-index: 8;
            }
        }
        // Header Bottom
        .header-bottom{

            // mobile menu show
            @media #{$md}{
                padding: 15px 20px;
            }
            @media #{$sm}{
                padding: 15px 20px;
                padding-top: 55px;
            }
            @media #{$xs}{
                padding: 15px 0px;
                padding-top: 99px;
            }

            // Form Style Slider
            form.search-box{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                background: #fff;
                padding: 15px 0px;
                @media #{$md}{
                    border-radius: 0px;
                }

                @media #{$xs}{
                    margin-left: 0px;
                }
                .input-form{
                    width: 48%;
                    position: relative;
                    @media #{$md}{
                        width: 42%;
                        margin-bottom: 20px;
                    }
                    @media #{$sm}{
                        width: 32%;
                        margin-bottom: 20px;
                    }
                    @media #{$xs}{
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    input{
                        height: 45px;
                        width: 100%;
                        color: #5E5E5E;
                        font-size: 15px;
                        font-weight: 400;
                        padding: 9px 18px 9px 48px;
                        
                        position: relative;
                        border: 1px solid $border-color;
                         border-radius: 4px;
                        @media #{$sm}{
                            // padding: 9px 33px 9px 25px;
                        }
                        &::placeholder {
                            color: #5E5E5E;
                            font-size: 15px;
                            font-weight: 400;
                            @media #{$md}{
                                font-size: 13px;
                            }
                            @media #{$xs}{
                                font-size: 13px;
                            }
                        }
                    }
                    .icon{
                        position: absolute;
                        left: 13px;
                        top: 50%;
                        transform: translateY(-50%);
                        i{
                            font-size: 16px;
                            color: #D9DEE2;
                        }
                    }
                }
                .select-form{
                    width: 12%;
                    position: relative;
                    @media #{$md}{
                        width: 18%;
                    }
                    @media #{$sm}{
                        width: 21%;
                    }
                    @media #{$xs}{
                        width: 47%;
                    }
                    .nice-select {
                        width: 100%;
                        height: 45px;
                        line-height: 22px;
                        background: #fff;
                        border-radius: 0px;
                        padding: 11px 5px 11px 23px;
                        color: $heading-color;
                        font-size: 15px;
                        font-weight: 400;
                        border: 1px solid $border-color;
                        border-radius: 4px;
                        @media #{$md}{
                            font-size: 13px;
                        }
                        @media #{$xs}{
                            margin-bottom: 20px;
                            font-size: 13px;
                        }
                        @media #{$sm}{
                            margin-bottom: 20px;
                        }
                       .list {
                            width: 100%;
                        }
                        &.open .list {
                            width: 100%;
                            border-radius: 0;
                            border: 0;
                        }
                        &::after {
                            border-bottom: 1px solid $heading-color;
                            border-right: 1px solid $heading-color;
                            height: 7px;
                            width: 7px;
                            margin-top: -4px;
                            right: 20px;
                            border-radius: 1px;
                        }
                    }
                    .icon{
                        position: absolute;
                        left: 13px;
                        top: 50%;
                        transform: translateY(-50%);
                        i{
                            font-size: 16px;
                            color: #D9DEE2;
                        }
                    }
                    &.select-form2{
                        position: relative;
                        .nice-select {
                            padding: 11px 6px 11px 46px;
                            color: $heading-color;;
                            &::after {
                               display: none;
                            }
                        }
                        .select-items{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 17px;

                            @media #{$md}{
                                top: 33%;
                            }
                            @media #{$sm}{
                                top: 33%;
                            }
                            @media #{$xs}{
                                top: 33%;
                            }
                        }
                    }
                }
                .search-form{
                    width: 12%;
                    overflow: hidden;
                    @media #{$md}{
                        width: 42%;
                    }
                    @media #{$sm}{
                        width: 32%;
                    }
                    @media #{$xs}{
                        width: 100%;
                    }
                    button{
                        width: 100%;
                        height: 45px;
                        background:#004274;
                        text-align: center;
                        color: #fff;
                        display: block;
                        padding: 11px 10px;
                        font-weight: 400;
                        text-transform: capitalize;
                        font-size: 18px;
                        border-radius: 4px;
                        border: 0;
                        cursor: pointer;
                        line-height: 1;
                        i {
                            color: #fff;
                            padding-right: 10px;
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                }
            }
            .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
                background-color:$theme-color !important;
            }
            .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
                background-color: $theme-color !important;
            }
        }
    }
}

.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}


//! header Sticky  & Responsive
.header-area{
    .header-sticky{
        &.sticky-bar{
            background: #004274;
            // Small device sticky show padding
            @media #{$md}{
                padding: 15px 0px;
            }
            @media #{$sm}{
                padding: 15px 20px;
            }
            @media #{$xs}{
                padding: 15px 0px;
            } 
            .header-right-btn{
                @media #{$sm}{
                    display: none;
                }
                @media #{$xs}{
                    display: none;
                }
            }
        }
    }
}


//! Mobile Menu
.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
    .slicknav_menu {
        background: transparent;
        margin-top: 0px !important;
        .slicknav_btn {
            top: -36px;
            // mobile Menu button color
            .slicknav_icon-bar {
                background-color: $theme-color !important;
            }
        }
        .slicknav_nav{
            margin-top: 8px !important;
            border: 0;
            // box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5);
            a {
                font-size: 15px;
                padding: 7px 10px;
                &:hover{
                    background: transparent;
                    color: $theme-color;
                }
            }
            .header-btn {
                &:hover{
                    color: #fff !important;
                    background: $btn_bg;
                    border-radius: 25px;
                }
            }
            // Dropdown Menu button Padding None
        .slicknav_item a {
                padding: 0 !important;
            }
        }
    }
}


// Header btn
.header-btn {
    font-family: $font_2;
	border: none;
	padding: 10px 31px !important;
	text-transform: capitalize !important;
	cursor: pointer;
	color: #fff !important;
	display: inline-block !important;
	font-size: 15px !important;
	font-weight: 500 !important;
    background: $btn_bg;
     border-radius: 4px;
    &:hover{
        color: #f2f2f2 !important;
        @media #{$md}{
            background: $btn_bg !important;
        }
        @media #{$sm}{
            background: $btn_bg !important;
        }
        @media #{$xs}{
            background: $btn_bg !important;
        }
      }
}

  .header-right-btn {
	@media #{$md}{
		margin-right: 55px;
	}
	@media #{$sm}{
        position: absolute;
        right: 6px;
        bottom: -70px;
        z-index: 2;
	}
	@media #{$xs}{
        position: absolute;
        right: 6px;
        bottom: -109px;
        z-index: 2;
	}
}


#navigation {
	display: flex;
	align-items: center;
}