// Home Page Hero
.slider-height {
    min-height: 720px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;

    @media #{$lg}{
        min-height: 650px;
    }
    @media #{$md}{
        min-height:600px;
    }
    @media #{$sm}{
        min-height: 550px;
    }
    @media #{$xs}{
        min-height: 520px; 
    }
    
}



.slider-height2 {
    min-height: 400px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;

    @media #{$sm}{
        min-height: 320px;
    }
    @media #{$xs}{
        min-height: 320px;
    }
}


.slider-height3 {
    min-height: 588px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$lg}{
        min-height: 400px;
    }
    @media #{$md}{
        min-height: 500px;
    }
    @media #{$sm}{
        min-height: 308px;
    }
    @media #{$xs}{
        min-height: 308px;
    }
}

.slider-area, .slider-area2{
    background-image: url(../img/hero/h1_hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // min-height: 854px;
    &.slider-area2{
        background-image: url(../img/hero/hero2.png);
    }
    .hero__caption{
        overflow: hidden;
        background: #fff;
        padding: 100px 100px 70px 100px;
        border-radius: 90px;
        @media #{$md}{
            padding: 50px 50px 50px 50px;
            border-radius: 30px;
        }
        @media #{$sm}{
            padding: 50px 50px 50px 50px;
            border-radius: 30px;
        }
        @media #{$xs}{
            padding: 40px 25px 40px 24px;
            border-radius: 19px;
        }
        span{
            font-family: $font_1;
            color: #FBCE0F;
            font-size: 44px;
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 30px;
            display: block;
            @media #{$xs}{
                margin-bottom: 30px;
                font-size: 27px;
            }
        }
        h1{
            font-size: 80px;
            font-weight: 400;
            line-height: 1.1;
            margin-bottom: 22px;
            @media #{$lg}{
                font-size: 60px;
                line-height: 1.2;
            }
            @media #{$md}{
                font-size: 50px;
                line-height: 1.2;
            }
            @media #{$sm}{
                font-size: 38px;
                line-height: 1.2;
                margin-bottom: 20px;
            }
            @media #{$xs}{
                font-size: 45px;
                line-height: 1.3;
            }

        }
        p{
            color: #fff;
            font-size: 18px;
            margin-bottom: 34px;
            @media #{$xs}{
                font-size: 16px;
                padding: 0 0px;
            }
        }
        &.hero__caption2{
            background:none;
            padding: 0px;
            border-radius: 0px;
            // padding-top: 218px;  
            @media #{$xs}{
                padding-top: 184px;
            }
            @media #{$sm}{
                padding-top: 184px;
            }
            h1{
                color: #fff;
            }
        }
    }

}

.project-screen {
    margin-top: -500px;
    @media #{$lg}{
        margin-top: -416px;
    }
    @media #{$md}{
        margin-top: -361px;
    }
    @media #{$sm}{
        margin-top: -331px;
    }
    @media #{$xs}{
        margin-top:-140px;
    }
}
// Hero Overly
.hero-overly {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        background-color: rgba(0, 1, 2,.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        background-repeat: no-repeat;
    }
}

.hero-overly2 {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        background-color:rgba(0, 0, 50,.7);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        background-repeat: no-repeat;
    }
}

// Transparent Header
.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}





