/*---------------------
  Services
-----------------------*/
.services {
    background: #f2f4f5;
    padding-bottom: 20px;

    .section-title {
        margin-bottom: 92px;
    }
}

.services__item__pic {
    height: 90px;
    width: 90px;
    background: $white-color;
    line-height: 90px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -45px;
    margin: 0 auto;
    border-radius: 50%;
}

.services__item {
    text-align: center;
    background: $white-color;
    box-shadow: 10px 5px 30px rgba(35, 46, 14, 0.05);
    padding: 52px 30px 30px;
    margin-bottom: 94px;
    position: relative;

    h5 {
        color: $heading-color-2;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 0;
    }
}

/*---------------------
  Services Page
-----------------------*/
.services-page {
    background: #f2f4f5;
    padding-bottom: 55px;
}

.services__page__item {
    margin-bottom: 45px;
    box-shadow: 10px 5px 30px rgba(35, 46, 14, 0.05);
}

.services__page__item__pic {

    img {
        min-width: 100%;
    }
}

.services__page__item__icon {
    height: 90px;
    width: 90px;
    background: $white-color;
    line-height: 90px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -45px;
    margin: 0 auto;
    border-radius: 50%;
}

.services__page__item__text {
    text-align: center;
    background: $white-color;
    padding: 52px 30px 30px;
    position: relative;

    h5 {
        color: $heading-color-2;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 0;
    }
}