.popular-directorya-area{
    .properties{
        margin: 0 12px;
        .properties-img{
            position: relative;
            &::before{
                position: absolute;
                width: 100%;
                height: 50%;
                bottom: 0;
                content: "";
                // @extend %gallery;
                z-index: 1;
            }
            img{
                width: 100%;
                position: relative;
                margin-bottom: 12px;
            }
            .img-text{
                position: absolute;
                top: 32px;
                right: 28px;
                z-index: 2;
               span{
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 3px 8px;
                    border-radius: 4px;
                    background: $theme-color;
                }
            }
        }
        .properties-caption{
            h3{
               a{
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 6px;
                    margin-bottom: 8px;
                    display: block;
                    @media #{$lg}{
                        font-size: 16px;
                    }
               }
                a:hover,.properties-card{
                    color:$theme-color;
    
                }
                img{
                    display: inline-block;

                }
            }
            P{
                color: #6A6A6A;
                margin-bottom: 10px;
                span{
                    color:$theme-color;
                    font-size: 16px;
                    @media #{$md}{
                        font-size: 12px;
                    }
                }
            }
            .ratting{
                ul{
                    li{
                        display: inline-block;
                        i{
                            color: #FFA200;
                            font-size: 14px;
                        }
                        
                    }
                    span{
                        color: #6A6A6A;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
       
        &.properties2 {
            margin: 0;
        }
    }
	
}

// Arrow
.directory-active{
    button{
        &.slick-arrow {
            position: absolute;
            border: 0;
            padding: 0;
            z-index: 2;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            left: auto;
            background: none;
            i{
                font-size: 23px;
                color:rgba(26, 33, 61,.4);
                &:hover{
                    color:rgb(26, 33, 61);
                }
            }
        }
        &.slick-prev {
            left:-30px;
            @media #{$lg}{
                left:-20px;
            }
            @media #{$md}{
                left:-20px;
            }
            
        }
        &.slick-next {
            right: -30px;
            @media #{$lg}{
                right:-20px;
            }
            @media #{$md}{
                right:-20px;
            }
        }
    }
}

 