.our-services{   
    padding-top: 90px;
    padding-bottom: 70px;
    @media #{$md}{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media #{$sm}{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @media #{$xs}{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .single-services{
        .services-icon{
            img{
                text-align: center;
                margin-bottom: 26px;

            }
        }
        .services-cap{
           span{
               color: #0C8760;
               font-size: 14px;
               margin-bottom: 20px;
               display: inline-block;
           }
            h5{
                a{
                    color:$heading-color;
                    font-weight:700;
                    font-size: 24px;
                    line-height: 1.4;
                    margin-bottom: 20px;
                    display: block;
                    @media #{$sm}{
                        font-size: 21px;
                    }
                }
            }
            p{
                font-size: 18px;
                font-weight: 500;
                color: #4C5753;
                line-height: 1.6;
                
            }
        }
        &:hover{
            .services-ion{
                span{
                    color: $theme-color;
                }
            }
            h5{
                a{
                    color: $theme-color;
                }
            }
        }
    }
}



.services-area2{

    .single-services2 {
        display: flex;
        .features-img{
            img {
                width: 100%;
                height: 400px;
                margin-left: 20px;
                border-radius:10px 0px 0px 10px ;
                @media #{$sm}{
                    margin-left: 12px;
                    height:300px;
                }
                @media #{$xs}{
                    margin-left: 12px;
                    height: 300px;
                }
            }
            &.features-img2{
                img{
                    margin-left: 0px;
                    // border-radius:0px 10px 10px 0px ;
                }
            }
            &.features-img3{
                img{
                    margin-left: 0px;
                    border-radius:0px 10px 10px 0px ;
                }
            }
        }
        
        .features-caption {
            background: #F8FAFC;
            padding: 60px 40px;
            height: 400px;
            @media #{$laptop}{
                padding: 60px 31px;
            }
            @media #{$sm}{
                height: 389px;
            }
            @media #{$xs}{
                height: 398px;
            }
            @media #{$xs}{
                padding: 41px 20px;
            }
            img{
                margin-bottom: 25px;
            }
            span{
                font-size: 16px;
                color: #234821;
                margin-bottom: 30px;
                display: block;

            }
            h3 {
                a{
                    font-size: 24px;
                    line-height: 1.2;
                    margin-bottom: 20px;
                    font-weight: 700;
                    display: block;
                    &:hover{
                        color: $theme-color !important;
                    }
                }

            }
            p {
                font-size: 18px;
                line-height: 1.5;
                color: #232F55;
                margin-bottom: 30px;
               
                @media #{$lg}{
                    font-size: 15px;
                }
                @media #{$xs}{
                    font-size: 15px;
                }
            }
        }
    }
}

// Arrow
.services1-active{
    margin: 0 12px;
    button{
        &.slick-arrow {
            position: absolute;
            border: 0;
            padding: 0;
            z-index: 2;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            left: auto;
            background: none;
            i{
                font-size: 30px;
                color: rgba(32, 69, 112,.3);
                @include transition(.2s);
                &:hover{
                    color: $theme-color;
                }
            }
        }
        &.slick-prev {
            left: -40px;
            @media #{$laptop}{
            //    left: -10px;
            }
            @media #{$lg}{
            //    left: -10px;
            }
            @media #{$md}{
               left: -25px;
            }
            @media #{$sm}{
               left: -10px;
            }
        }
        &.slick-next {
            right: -40px;
            @media #{$laptop}{
                // right: -10px;
             }
            @media #{$lg}{
                // right: -10px;
            }
            @media #{$md}{
                right: -25px;
            }
            @media #{$sm}{
                right: -10px;
            }
        }
    }
}

