/*---------------------
  Footer
-----------------------*/
.footer {
  background: #1b2839;
  padding-top: 60px;
}

.footer__about {
  margin-bottom: 35px;

  .footer__logo {
    margin-bottom: 34px;

    a {
      display: inline-block;
    }
  }

  ul {

    li {
      list-style: none;
      font-size: 14px;
      color: $white-color;
      line-height: 26px;
      margin-bottom: 10px;

      i {
        color: $primary-color;
        margin-right: 5px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.footer__widget {
  margin-bottom: 35px;

  h5 {
    color: $primary-color;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  ul {

    li {
      list-style: none;
      
      a {
        font-size: 14px;
        color: $white-color;
        line-height: 32px;
        opacity: .7;
      }
    }
  }

  p {
    font-size: 14px;
    color: $white-color;
    line-height: 29px;
    margin-bottom: 10px;
    opacity: .7;
  }

  form {
    position: relative;

    input {
      width: 100%;
      height: 46px;
      color: $white-color;
      font-size: 14px;
      background: transparent;
      border: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);

      &::placeholder {
        color: $white-color;
        opacity: .3;
      }
    }

    button {
      border: none;
      background: transparent;
      color: $primary-color;
      font-size: 16px;
      font-weight: 600;
      font-family: 'Rajdhani', sans-serif;
      text-transform: uppercase;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  }
}

.footer__copyright {
  margin-top: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25px 0;

  .footer__copyright__text {
    margin-bottom: 0;
    color: $white-color;
    font-size: 14px;
    opacity: .7;

    i {
      color: $primary-color;
    }

    a {
      color: $primary-color;
    }
  }

  .footer__copyright__links {
    text-align: right;

    a {
      color: $white-color;
      font-size: 20px;
      display: inline-block;
      margin-right: 26px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}