.clients-testimonial{
    background: #1E1E1E;
    .clients-speech-active{
        // arrow
        button{
            &.slick-arrow {
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                background: none;
                border: 0;
                padding: 0;
                z-index: 2;
                cursor: pointer;
                background: none;
                i{
                    font-size: 30px;
                    color: #c6a16e;
                    @media #{$xs}{
                        font-size: 19px;
                    }
                    @media #{$sm}{
                        font-size: 19px;
                    }
                    

                }
            }
            &.slick-next {
                left: auto;
                right: 0px;
            }
        }
        // slick-dot style
        &.dot-style {
            .slick-dots {
                position: absolute;
                right: 0;
                bottom: -60px;
                li {
                    display: inline-block;
                    margin: 0 8px;  
                }
                button {
                    text-indent: -100000px;
                    height: 14px;
                    width: 14px;
                    line-height: 14px;
                    border: 0;
                    padding: 0;
                    cursor: pointer;
                    border-radius: 50%;
                    background:rgba(233, 227, 217,.2);
                }
               
            }
            .slick-dots .slick-active button {
                background: #fff !important;
            }
        }
        // End dot style

        // slider img
        .single-clients-speech{
            img{
                width: 100%;
            }
        }
    }   
}


.project-area{
    margin-top: -109px;
    position: relative;
    z-index: 1;
    @media #{$md}{
		margin-top: -0px;
	}
    @media #{$sm}{
		margin-top: -0px;
	}
    @media #{$xs}{
		margin-top: -0px;
	}
    .single-project{
        @include transition(.4s);
        background: $theme-color;
        padding: 30px;
        // Caption
        .thumb-content-box {
            @media #{$sm}{
                flex-wrap: wrap;
             }
            @media #{$xs}{
                flex-wrap: wrap;
             }
             .room-img{
                @media #{$sm}{
                    margin-bottom: 30px;
                 }
                @media #{$xs}{
                    margin-bottom: 30px;
                 }
             }
            .thumb-content {
                @include transition(.4s);
                padding-left: 40px;
                bottom: -58px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                padding-right: 20px;
                @media #{$sm}{
                    padding-left: 0px;
                 }
                @media #{$xs}{
                    padding-left: 0px;
                 }
                span{
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 14px;
                    margin-bottom: 20px;
                    display: block;
                }
                h3 {
                    @include transition(.4s);
                    color: #ffffff;
                    font-weight: 400;
                    font-size: 32px;
                    margin-bottom: 25px;


                    @media #{$laptop}{
                        font-size: 32px;
                    }
                    @media #{$lg}{
                        font-size: 32px;
                        
                    }
                    @media #{$md}{
                        br{
                            display: none;
                        }
                    }
                    @media #{$sm}{
                        br{
                            display: none;
                        }
                    }
                    @media #{$xs}{
                        font-size: 21px;
                        br{
                            display: none;
                        }
                    }
                    span{
                        font-size: 39px;
                        display: block;
                        
                        @media #{$laptop}{
                            font-size: 29px;
                        }
                        @media #{$lg}{
                            font-size: 29px;
                        }
                        @media #{$xs}{
                            font-size: 29px;
                        }
                    }
                }
                p{
                    color: #fff;
                    font-size: 14px;
                }
                a {
                    border: 0;
                    color: #fff;
                    background: rgba(255, 255, 255,.1);
                    width: 60px;
                    height: 60px;
                    line-height: 65px;
                    display: block;
                    text-align: center;
                    border-radius: 50%;
                    &:hover {
                        color: #fff;
                        background: $theme-color;
                    }
                }
            }
        }
        &:hover{
            background: #272727;
            // Caption
            .thumb-content-box {
                .thumb-content {
                    h3 {
                        color: $theme-color;
                    }
                    a {
                        background: $theme-color;
                    }
                }
            }
        }
    }
}



