/// Default color variables

$primary: #03C4EB;
$secondary: #333333;
$accent-color: $primary;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-default: 'Open Sans', sans-serif;
