
.gallery-area{
    position: relative;
    &.gallery-area2{
        &::before{
            position:unset;
        }
    }
    &::before{
        position: absolute;
        content: "";
        width: 74%;
        height: 70%;
        background: #F8F8F8;
        border-radius: 90px 0px 0px 90px;
        top: 0;
        right:0;
        bottom: 0;
        @media #{$inc25}{
            width: 68%;
        }
    }
    .box{
        position: relative;
        border-radius: 10px;
        // img
        .gallery-img{
            height: 565px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .big-img{
            height: 900px;
            @media #{$md}{
                height: 435px;
            }
            @media #{$sm}{
                height: 435px;
            }
        }
        .small-img{
            height: 400px;
            @media #{$md}{
                height: 380px;
            }
            @media #{$sm}{
                height: 335px;
            }
            @media #{$xs}{
                height: 335px;
            }

        }
        // Caption
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color:rgba(255, 133, 83,.3);
            top: 0;
            left: 0;
            border-radius: 10px;
            .overlay-content {
                position: absolute;
                left: 10%;
                bottom: 37px;
                a {
                    color: #000000;
                    display: inline-block;
                    font-size: 26px;
                    @include transition(.4s);
                    transform: scale(1);
                    @media #{$sm}{
                        font-size: 16px;
                    }
                    @media #{$xs}{
                        font-size: 22px;
                    }
                    i{

                    }
                    &:hover{
                        transform: scale(1.08);
                    }
                }
            }
        }
        &.snake{
            position: relative;
            overflow: hidden;
        }
    }
}

.box{
    position: relative;
    img{
        width: 100%;
        border-radius: 10px;
    }
    &.snake{
        position: relative;
        overflow: hidden;
    }
}
.overlay{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.3);
    top: 0;
    left: 0;
  }
  