/// Default color variables

$primary: #f82249;
$secondary: #060c22;
$default: #2f3138;

/// Fonts Variables
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-default: 'Open Sans', sans-serif;
