/******** base color css ********/

.btn {
	background: $btn_bg;
	font-family: $font_1;
	text-transform: inherit !important;
	padding: 30px 52px;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	font-size: 14px !important;
	font-weight: 400 !important;
	border-radius:0px;
	line-height: 1;
	// letter-spacing: 1px;
	line-height: 0;
	text-transform: uppercase !important;

	cursor: pointer;
	-moz-user-select: none;
	transition: color 0.4s linear;
	position: relative;
	z-index: 1;
	border: 0;
	overflow: hidden;
	&::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 102%;
		height: 102%;
		// @extend %btn_gradient;
		background:#cc031b;
		z-index: 1;
		border-radius: 0px;
		transition: transform 0.5s;
		transition-timing-function: ease;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
		// 
		transform: scaleX(0);
		border-radius: 0px;
	}
	i{
		padding-right: 11px;
	}
	&:hover{
		color: #fff !important;
		&::before {
			transform: scaleX(1);
			z-index: -1;
		}
	}
	&.slider-btn{
		@extend %btn_gradient;
		padding: 35px 60px;
		@media #{$md}{
			padding: 30px 30px;
		}
		@media #{$sm}{
			padding: 28px 25px;
		}
		@media #{$xs}{
			padding: 24px 21px;
		}
		&:hover{
			&::before{
				background: $btn_bg !important;
			}
			
		}
	}
}

.btn_0{
	border: none;
	padding:14px 34px  !important;
	text-transform: uppercase !important;
	border-radius: 0px;
	font-size: 16px !important;
	font-weight: 600 !important;
	display: inline-block !important;
	cursor: pointer;
	color: #fff !important;
	display: inline-block;

	@include transition(.5s);
	background-image: linear-gradient(to bottom,rgba(255,132,0,1),rgba(255,88,0,1) 0%, rgba(255,132,0,1));
	background-position: top;
	background-size: 200%;
	box-shadow: 0 15px 20px rgba(66, 63, 141,.12);

	i{
		color: #ffffff;
		font-size: 13px;
		font-weight: 500;
		position: relative;
		left: 26px;
		@include transition(.4s);
	}
	&:hover{
		i{
			left: 30px;
		}
	}
	&:hover{
		@include transition(.4s);
		background-position: top;
		background-image: linear-gradient(to top,rgba(255,132,0,1),rgba(255,88,0,1) 0%, rgba(255,132,0,1));
		color: #fff;
	  }
}

.btn_10{
	
	font-family: $font_1;
	color: #fff;
	background: $btn_bg;
	border: none;
	padding: 17px 35px 16px 33px !important;
	text-transform: capitalize;
	border-radius: 0px;
	font-size: 18px ;
	font-weight: 400;
	display: inline-block;
	border-radius: 40px;
	i{
		@include transition(.4s);
		color: #ffffff;
		font-size: 16px;
		font-weight: 500;
		position: relative;
		left: 7px;
		top: 2px;
	}
	img{
		display: inline-block;
		margin-left: 8px;
		@include transition(.4s);
	}
	&:hover{
		img{
			margin-left: 9px;
		}
		i{
			left: 10px;
		}
	}

	&.get-btn{
		padding: 14px 47px;
		@media #{$lg}{
			padding: 14px 27px;
		}
		@media #{$xs}{
			padding: 14px 27px;
		}
	}
}

.border-btn{
	border: 1px solid $theme-color;
	color: $theme-color;
	background: none;
	text-transform: normal;
	padding: 11px 39px !important;
	
	-moz-user-select: none;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	position: relative;
	transition: color 0.4s linear;
	position: relative;
	overflow: hidden;
	border-radius: 0px;

	z-index: 1;
	 i {
		font-size: 16px;
		margin-right: 10px;
		color: $theme-color;
		@include transition(.3s);
	}
	&::before{
		border: 1px solid transparent;
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 101%;
		height: 101%;
		// @extend %btn-bgs;
		background:$white;
		z-index: -1;
		transition: transform 0.5s;
		transition-timing-function: ease;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
		// 
		transform: scaleY(0);
		border-radius: 0;
	}
	&.border-btn2{
		border: 1px solid #fff !important;
		color: #fff !important;
		border-radius: 30px;
		&:hover{
			border: 1px solid transparent !important;
			&::before {
				color: $theme-color;
			}
		}
	}
	&:hover{
		color: $theme-color !important;
		&::before {
			transform: scaleY(1);
			border: 1px solid transparent;
		}
	}
}

.about-btn {
	padding: 30px 40px;
}
.blog-btn {
	text-transform: uppercase ;
	padding: 15px 18px;
	font-size: 13px ;
	line-height: 1px;
}

.browse-btn {
	color: #fff !important;
	font-weight: 500;
	font-size: 16px;
	position: relative;
	display: inline-block;
    &::before{
		position: absolute;
		content: "";
		background: $theme-color;
		width: 100%;
		height: 2px;
		bottom: -11px;
    }
    &:hover{
        color: $theme-color;
        letter-spacing: 0.3px;
	}

	&.browse-btn2 {
		color: #55A48A !important;
		&::before{
			background: #55A48A;
		}
	}

}

.browse-btn2 {
	color: $theme-color !important;
	font-weight: 400;
	font-size: 16px;
	position: relative;
	display: inline-block;
	img{
		margin-left: 5px;
		display: inline-block;
	}
}

.header-btn {
	font-family: $font_1;
	text-transform: uppercase;
	color: #fff !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	border-radius: 0;
	padding: 39px 60px !important;
	display: inline-block !important;
	background: #1E1E1E;
	@media #{$lg}{
		padding: 39px 27px !important;
	}  
	@media #{$sm}{
		padding: 39px 28px !important;
	}  
	i{
		padding-right: 9px;
		font-size: 17px;
		color: #FF5E14;
	}
	&:hover{
        color: #fff !important;
        background:#1E1E1E;
	}
}

.header-btn2 {
	padding: 13px 25px !important;
	background: $btn_bg;
	font-size: 16px !important;
	border-radius: 25px;
	color: #fff !important;
	font-weight: 500 !important;
	i{
		padding-right: 9px;
		font-size: 17px;
		color: #fff;
	}
}

.hero-btn {
	color: #fff;
	border: 1px solid #fff;
	display: inline-block;
	padding: 23px 37px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	background: none;
	border-radius: 0px;
	@media #{$xs}{
		padding: 15px 20px;
	}
	i{
		color:  #fff;
		@include transition(.4s);
		font-size: 16px;
		font-weight: 500;
		position: relative;
		left: 7px;
		top: 2px;
	}
    &:hover{
        // background-color:$theme-color;
        border: 1px solid $theme-color;
		color: $theme-color !important;
		i{
			color: $theme-color;
		}
    }
}

.cal-btn{
	i{
		color: #09cc7f !important;
		font-size: 31px;
		font-weight: 300;
		margin-right: 10px;
	}
	& > p{
		color: #072366 !important;
		font-weight: 700;
		font-size: 16px;
		display: inline-block;
		margin: 0 !important;
		position: relative;
		top: -7px;
	}
}

.slider-btn2 {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-decoration: underline;
	padding: 17px 24px;
	display: inline-block;
	&:hover{
		color: #fff !important;
		text-decoration: underline !important;
		letter-spacing: 0.2px;
	}
	@media #{$xs}{
		padding-left: 0;
	}
}

.black-btn {
	padding: 14px 35px;
	background: #000;
	display: inline-block;
	&::before{
		background: #331391;
	}
}

.borders-btn {
	padding: 10px 64px;
	background: none;
	border: 1px solid $theme-color;
	display: inline-block;
	color: $theme-color;
	border-radius: 30px;
	text-transform: uppercase;
}

// Custom Btn
.submit-btn {
	width: 100%;
	background: $btn_bg;
	font-family: $font_1;
	text-transform: inherit !important;
	padding: 25px 43px;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	font-size: 16px !important;
	font-weight: 500 !important;
	border-radius:35px;
	line-height: 1;

	line-height: 0;
	cursor: pointer;
	-moz-user-select: none;
	transition: color 0.4s linear;
	position: relative;
	z-index: 1;
	border: 0;
	overflow: hidden;
	&::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 101%;
		height: 101%;
		background:$heading-color;
		z-index: 1;
		border-radius: 5px;
		transition: transform 0.5s;
		transition-timing-function: ease;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
		// 
		transform: scaleX(0);
		border-radius: 0px;
	}
	&:hover{
		color: #fff !important;
		&::before {
			transform: scaleX(1);
			z-index: -1;
		}
	}
	i {
		font-size: 20px;
		margin-right: 10px;
		color:#fff;
		@include transition(.3s);
	}
	&.download-btn{
		border-radius: 0;
		padding: 20px 43px;
	}
}

.submit-btn2 {
	background:$btn_bg;
	height: 50px;
	padding: 10px 36px;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	border-radius: 0px;
	text-transform: capitalize;
	font-weight: 400;
	letter-spacing: 1px;
}

.white-btn {
    // background: $btn_bg;
    background:#fff;
    padding: 25px 36px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: #222222;
	border-radius: 5px;
	
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    -moz-user-select: none;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;


    @media #{$xs}{
        padding: 25px 18px;
    }
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 101%;
        height: 101%;
        background:$btn_bg;
        z-index: 1;
        border-radius: 5px;
        transition: transform 0.5s;
        transition-timing-function: ease;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
        // 
        transform: scaleX(0);
        border-radius: 0;
    }
    &.white-btn2{
        padding: 20px 29px;
	}
    &.white-btn3{
		padding: 25px 54px;
		border-radius: 30px;
		color: #777;
	}
	&:hover{
		color: #fff !important;
		box-shadow: 0px 3px 31px 2px rgba(3, 0, 0, 0.7);
        &::before {
            transform: scaleX(1);
            z-index: -1;
        }
    }
}

.btn_1{
    background: #2A2A2A;
    border: 1px solid #2A2A2A;
	color: $white !important;
	font-size: 18px;
	font-weight: 500;
    display: inline-block;
	padding: 25px 34px;
    text-transform: capitalize;
    line-height: 16px;
    margin-top: 32px;
	border-radius: 41px;
	img{
		display: inline-block;
		margin-left: 8px;
		@include transition(.4s);
	}
	i{
		@include transition(.4s);
		color: #ffffff;
		font-size: 16px;
		font-weight: 500;
		position: relative;
		left: 7px;
		top: 2px;
	}
    &:hover{
        background:none;
        border: 1px solid #2A2A2A;
		color: #2A2A2A !important;
		img{
			margin-left: 9px;
		}
		i{
			left: 10px;
			color: #2A2A2A;
		}
    }
}
.btn_2{
    color: $white !important;
    border: 1px solid $white;
    display: inline-block;
    padding: 15px 39px;
    text-transform: capitalize;
    font-size: 13px;
    
    &:hover{
        background-color: $white;
        border: 1px solid $white;
        color: $theme-color !important;
    }
}
.btn_02{
    color: $font_color1 !important;
    border: 1px solid $border-color;
    display: inline-block;
    padding: 5px 21px;
    text-transform: capitalize;
	font-size: 13px;
	border-radius: 4px;
    &:hover{
        background-color: $white;
        border: 1px solid $theme-color;
        color: $theme-color !important;
    }
}
.btn_01{
    color: $btn_bg !important;
    border: 1px solid $btn_bg;
    display: inline-block;
    padding: 14px 43px;
    text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	background: none;
	border-radius: 0px;
	i{
		color: $btn_bg;
		@include transition(.4s);
		font-size: 13px;
		font-weight: 500;
		position: relative;
		left: 7px;
		top: 2px;
	}
    &:hover{
        background-color:$btn_bg;
        border: 1px solid $btn_bg;
		color: #fff !important;
		i{
			color: #fff;
		}
    }
}
.product_btn{
    
    font-size: 12px;
    background-color: $theme-color;
    display: inline-block;
    color: $white;
    padding: 2px 15px;
    text-transform: uppercase;
    border: 1px solid $theme-color;
    &:hover{
        border: 1px solid $theme-color;
        background-color: transparent;
        color: $theme-color;
    }
}
.btn.focus, .btn:focus {
	outline: 0;
	box-shadow:none; 
}
.btn.focus, .btn:focus {
	outline: 0;
	box-shadow:none; 
}

.fb-btn {
	background: #3b5997;
	padding: 15px 26px;
	&:hover{
		&::before{
			background: $theme-color !important;
		}
	}
}

.twit-btn {
	background: #1da1f2;
	padding: 15px 26px;
	&:hover{
		&::before{
			background: $theme-color !important;
		}
	}
}

.tittle-btn{
	color: #191514;
	font-size: 18px;
	font-weight: 400;
	display: inline-block;
	text-decoration:dotted underline ;
	&:hover{
		color: inherit;
		text-decoration:dotted underline ;
		letter-spacing: .3px;
	}
}

.more-btn{
	color: #F1FBFF;
	font-size: 16px;
	&:hover{
		letter-spacing: 0.3px;
	}

    i{
        -ms-transform: rotate(20deg);
        transform: rotate(45deg);
        display: inline-block;
        line-height: 1;
        font-size: 18px;
        font-weight: 700;
        position: relative;
		top: 3px;  
		left: 5px;
    }
}

.boxed-btn {
	background: #fff;
    color: $theme-color !important;
    
	display: inline-block;
	padding: 18px 44px;
	font-family: $font_1;
	font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid $theme-color;
    letter-spacing:1px;

    text-align: center;
    color: $theme-color;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        background: $theme-color;
        color: #fff !important;
        border: 1px solid $theme-color;
    }
    &:focus{
        outline: none;
    }
    &.large-width{
        width: 220px;
    }
}

.boxed-btn2 {
	padding: 4px 20px !important;
}

.full-menu {
	padding: 35px 55px;
	@media #{$sm}{
		float: left;
		margin-bottom: 30px;
		padding: 29px 55px;
	 }
	@media #{$xs}{
		float: left;
		margin-bottom: 30px;
		padding: 29px 55px;
	 }
}

.visit-btn{
	padding: 16px 43px;
}

.red-btn{
	color: $heading-color;
	font-weight: 400;
	line-height: 1.5;
	font-size: 16px;
	&:hover{
		color: $heading-color;
	}
	i{
		color: $heading-color;
		background: $theme-color;
		width: 29px;
		height: 29px;
		border-radius: 50%;
		display: inline-block;
		line-height: 29px;
		margin-left: 10px;
		position: relative;
		top: 5px;
		text-align: center;
	}
   
}

.red-btn2{
	color: $heading-color;
	font-weight: 400;
	line-height: 1.5;
	font-size: 16px;
	visibility: hidden;
	opacity: 0;
	i{
		color: $heading-color;
		background: $theme-color;
		width: 29px;
		height: 29px;
		border-radius: 50%;
		display: inline-block;
		line-height: 29px;
		margin-left: 10px;
		position: relative;
		top: 5px;
		text-align: center;
	}
   
}