

%overlay1{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a0a0a+0,0b0b0b+3,090909+4,0b0b0b+6,090909+6,090909+6,0b0b0b+8,090909+8,090909+9,0b0b0b+10,090909+10,090909+11,0c0c0c+13,080808+13,080808+13,0d0d0d+15,070707+15,070707+15,0d0d0d+17,141414+17,000000+17,000000+39,141414+39,0d0d0d+48,080808+66,070707+78,0d0d0d+78,080808+81,080808+82,0c0c0c+82,090909+85,090909+86,0b0b0b+86,090909+89,090909+90,0b0b0b+90,090909+93,090909+94,0b0b0b+94,090909+97,090909+98,0b0b0b+98,0a0a0a+100&0.8+0,0+18,0.14+78,0.7+100 */
  background: -moz-linear-gradient(top,  rgba(10,10,10,0.8) 0%, rgba(11,11,11,0.67) 3%, rgba(9,9,9,0.63) 4%, rgba(9,9,9,0.54) 6%, rgba(9,9,9,0.45) 8%, rgba(9,9,9,0.41) 9%, rgba(9,9,9,0.36) 10%, rgba(9,9,9,0.32) 11%, rgba(8,8,8,0.23) 13%, rgba(7,7,7,0.14) 15%, rgba(0,0,0,0.05) 17%, rgba(1,1,1,0) 18%, rgba(20,20,20,0.05) 39%, rgba(13,13,13,0.07) 48%, rgba(8,8,8,0.11) 66%, rgba(13,13,13,0.14) 78%, rgba(8,8,8,0.22) 81%, rgba(12,12,12,0.25) 82%, rgba(9,9,9,0.33) 85%, rgba(11,11,11,0.35) 86%, rgba(9,9,9,0.42) 89%, rgba(11,11,11,0.45) 90%, rgba(9,9,9,0.53) 93%, rgba(11,11,11,0.55) 94%, rgba(9,9,9,0.63) 97%, rgba(11,11,11,0.65) 98%, rgba(10,10,10,0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(10,10,10,0.8) 0%,rgba(11,11,11,0.67) 3%,rgba(9,9,9,0.63) 4%,rgba(9,9,9,0.54) 6%,rgba(9,9,9,0.45) 8%,rgba(9,9,9,0.41) 9%,rgba(9,9,9,0.36) 10%,rgba(9,9,9,0.32) 11%,rgba(8,8,8,0.23) 13%,rgba(7,7,7,0.14) 15%,rgba(0,0,0,0.05) 17%,rgba(1,1,1,0) 18%,rgba(20,20,20,0.05) 39%,rgba(13,13,13,0.07) 48%,rgba(8,8,8,0.11) 66%,rgba(13,13,13,0.14) 78%,rgba(8,8,8,0.22) 81%,rgba(12,12,12,0.25) 82%,rgba(9,9,9,0.33) 85%,rgba(11,11,11,0.35) 86%,rgba(9,9,9,0.42) 89%,rgba(11,11,11,0.45) 90%,rgba(9,9,9,0.53) 93%,rgba(11,11,11,0.55) 94%,rgba(9,9,9,0.63) 97%,rgba(11,11,11,0.65) 98%,rgba(10,10,10,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(10,10,10,0.8) 0%,rgba(11,11,11,0.67) 3%,rgba(9,9,9,0.63) 4%,rgba(9,9,9,0.54) 6%,rgba(9,9,9,0.45) 8%,rgba(9,9,9,0.41) 9%,rgba(9,9,9,0.36) 10%,rgba(9,9,9,0.32) 11%,rgba(8,8,8,0.23) 13%,rgba(7,7,7,0.14) 15%,rgba(0,0,0,0.05) 17%,rgba(1,1,1,0) 18%,rgba(20,20,20,0.05) 39%,rgba(13,13,13,0.07) 48%,rgba(8,8,8,0.11) 66%,rgba(13,13,13,0.14) 78%,rgba(8,8,8,0.22) 81%,rgba(12,12,12,0.25) 82%,rgba(9,9,9,0.33) 85%,rgba(11,11,11,0.35) 86%,rgba(9,9,9,0.42) 89%,rgba(11,11,11,0.45) 90%,rgba(9,9,9,0.53) 93%,rgba(11,11,11,0.55) 94%,rgba(9,9,9,0.63) 97%,rgba(11,11,11,0.65) 98%,rgba(10,10,10,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0a0a0a', endColorstr='#b30a0a0a',GradientType=0 ); /* IE6-9 */

}
%overlay2{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+72,121212+73,0d0d0d+73,070707+75,070707+75,0d0d0d+75,080808+78,080808+78,0c0c0c+78,090909+80,090909+81,0b0b0b+81,090909+83,090909+84,0b0b0b+84,090909+86,090909+87,0b0b0b+87,090909+90,0b0b0b+90,090909+92,0b0b0b+93,090909+96,0b0b0b+96,0a0a0a+100&0+0,0+71,1+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 71%, rgba(0,0,0,0.03) 72%, rgba(13,13,13,0.06) 73%, rgba(13,13,13,0.13) 75%, rgba(12,12,12,0.23) 78%, rgba(9,9,9,0.3) 80%, rgba(11,11,11,0.34) 81%, rgba(9,9,9,0.41) 83%, rgba(11,11,11,0.44) 84%, rgba(9,9,9,0.51) 86%, rgba(11,11,11,0.55) 87%, rgba(11,11,11,0.65) 90%, rgba(9,9,9,0.72) 92%, rgba(11,11,11,0.76) 93%, rgba(11,11,11,0.86) 96%, rgba(10,10,10,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 71%,rgba(0,0,0,0.03) 72%,rgba(13,13,13,0.06) 73%,rgba(13,13,13,0.13) 75%,rgba(12,12,12,0.23) 78%,rgba(9,9,9,0.3) 80%,rgba(11,11,11,0.34) 81%,rgba(9,9,9,0.41) 83%,rgba(11,11,11,0.44) 84%,rgba(9,9,9,0.51) 86%,rgba(11,11,11,0.55) 87%,rgba(11,11,11,0.65) 90%,rgba(9,9,9,0.72) 92%,rgba(11,11,11,0.76) 93%,rgba(11,11,11,0.86) 96%,rgba(10,10,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 71%,rgba(0,0,0,0.03) 72%,rgba(13,13,13,0.06) 73%,rgba(13,13,13,0.13) 75%,rgba(12,12,12,0.23) 78%,rgba(9,9,9,0.3) 80%,rgba(11,11,11,0.34) 81%,rgba(9,9,9,0.41) 83%,rgba(11,11,11,0.44) 84%,rgba(9,9,9,0.51) 86%,rgba(11,11,11,0.55) 87%,rgba(11,11,11,0.65) 90%,rgba(9,9,9,0.72) 92%,rgba(11,11,11,0.76) 93%,rgba(11,11,11,0.86) 96%,rgba(10,10,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */

}

%btn_gradient{
  background-image: -moz-linear-gradient( 0deg, rgb(241,68,55) 0%, rgb(237,91,13) 99%);
  background-image: -webkit-linear-gradient( 0deg, rgb(241,68,55) 0%, rgb(237,91,13) 99%);
  background-image: -ms-linear-gradient( 0deg, rgb(241,68,55) 0%, rgb(237,91,13) 99%);
}
  
// Home Page Gradient

%gradient_team{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#021a47+0,021a47+100&0+0,0.6+100 */
    background: -moz-linear-gradient(top,  rgba(2,26,71,0) 0%, rgba(2,26,71,0.6) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(2,26,71,0) 0%,rgba(2,26,71,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(2,26,71,0) 0%,rgba(2,26,71,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00021a47', endColorstr='#99021a47',GradientType=0 ); /* IE6-9 */
}

%gallery{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#292621+0,292621+100&0+0,1+100 */
  background: -moz-linear-gradient(top,  rgba(41,38,33,0) 0%, rgba(41,38,33,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(41,38,33,0) 0%,rgba(41,38,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(41,38,33,0) 0%,rgba(41,38,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00292621', endColorstr='#292621',GradientType=0 ); /* IE6-9 */

}

%btn-bgs{
  background-image: -moz-linear-gradient( 0deg, rgb(13,67,182) 0%, rgb(15,102,248) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(13,67,182) 0%, rgb(15,102,248) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(13,67,182) 0%, rgb(15,102,248) 100%);
}


// &::before{
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   bottom: 0;
//   content: "";
//   @extend %overlay1;

// }
