
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative;

  @media (max-height: 500px) {
    height: 150vh;
  }
  
  .carousel, .carousel-inner, .carousel-item, .carousel-item::before {
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
  }

  .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .carousel-item::before {
    content: '';
    background-color: rgba(0,0,0,0.7);
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 50px;
    right: 50px;
  }

  .container {
    text-align: center;
  }

  h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  p {
    width: 80%;
    font-size: 38px;
    line-height: 1.2;
    @media (min-width: 1024px) {
      width: 60%;
    }
    margin: 0 auto 30px auto;
    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 1.2;
    }
    color: #fff;
  }

  .carousel-fade {
    overflow: hidden;
    .carousel-inner {
      .carousel-item {
        -webkit-transition-property: opacity;
        transition-property: opacity;
      }

      .carousel-item,
      .active.carousel-item-start,
      .active.carousel-item-end {
        opacity: 0;
      }

      .active,
      .carousel-item-next.carousel-item-start,
      .carousel-item-prev.carousel-item-end {
        opacity: 1;
        transition: 0.5s;
      }

      .carousel-item-next,
      .carousel-item-prev,
      .active.carousel-item-start,
      .active.carousel-item-end {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .carousel-control-prev, .carousel-control-next {
    width: 10%;
    @media (min-width: 1024px) {
      width: 5%;
    }
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
  }

  .carousel-indicators li {
    cursor: pointer;
  }

  .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: $primary;
    &:hover {
      background: #fff;;
      color: $primary;
    }
  }
}
