// Main Slider Height
.slider-height {
    height: 990px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$lg}{
        height: 680px;
    }
    @media #{$md}{
        height: 680px;
    }
    @media #{$sm}{
        height: 580px;
    }
    @media #{$xs}{
        height:450px;
    }
}
// Another Page
.slider-height2{
    height: 400px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$md}{
        height: 270px
    }
    @media #{$sm}{
        height: 250px;
    }
    @media #{$xs}{
        height: 250px;
    }
}


// Slider Bg
    .slider-bg1{
        background-image: url(../img/hero/h1_hero1.jpg);
    }
    .slider-bg2{
        background-image: url(../img/hero/h1_hero2.jpg);
    }
    .slider-bg3{
        background-image: url(../img/hero/h1_hero3.jpg);
    }

// Another page bg
    .slider-bg4{
        background-image: url(../img/hero/h2_hero1.jpg);
    }
    .slider-bg5{
        background-image: url(../img/hero/h2_hero2.jpg);
    }
    .slider-bg6{
        background-image: url(../img/hero/h2_hero2.jpg);
    }

.slider-area{
    position: relative;
    .hero-caption{
        @media #{$md}{
            padding-top: 50px;
        }
        @media #{$sm}{
            padding-top: 50px;
        }
        @media #{$xs}{
            padding-top: 20px;
        }
        h1{
            font-size: 100px;
            font-weight: 600;
            margin-bottom: 50px;
            color: #fff;
            line-height: 1.1;

            @media #{$lg}{
                font-size: 75px;
            }
            @media #{$md}{
                font-size: 75px;
            }
            @media #{$sm}{
                font-size: 65px;
            }
            @media #{$xs}{
                font-size: 35px;
            }
            span{
               
                color: $theme-color;
                display: block;
            }
        }

        p{
            color: #fff;
            margin-bottom: 41px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
            br{
                @media #{$sm}{
                    display: none;
                }
                @media #{$xs}{
                    display: none;
                }
            }
            @media #{$md}{
                margin-bottom: 43px;
                font-size: 21px;
            }
            @media #{$sm}{
                margin-bottom: 43px;
                font-size: 21px;
            }
            @media #{$xs}{
                margin-bottom: 43px;
                font-size: 21px;
            }
        }
        // Another Page
        &.hero-caption2{
            // padding-top: 120px;
            // @media #{$md}{
            //     padding-top: 80px;
            // }
            // @media #{$sm}{
            //     padding-top: 80px;
            // }
            // @media #{$xs}{
            //     padding-top: 60px;
            // }
            h2{
                text-transform: uppercase;
                color:#fff;
                font-size: 100px;
                display: block;
                font-weight: 500;
                line-height: 1.1;
                margin-bottom: 60px;
                @media #{$md}{
                    font-size: 60px;
                }
                @media #{$sm}{
                    font-size: 60px;
                    margin-bottom: 50px;
                }
                @media #{$xs}{
                    font-size: 40px;
                }
            }
            p{
                margin-bottom: 0px;
                color:#fff;
                font-size: 24px;
                line-height: 1.6;
                @media #{$sm}{
                    font-size: 18px;
                }
                @media #{$xs}{
                    font-size: 18px;
                }
            }
        }
    }
        


    // slick dot style
    .dot-style {
        .slick-dots {
            position: absolute;
            text-align: center;
            right:90px;
            top: 40%;
            transform: translateY(-40%);
            @media #{$large1}{
                right:30px;
            }
            @media #{$lg}{
                right:30px;
            }
            @media #{$md}{
                right:30px;
            }
            @media #{$sm}{
                right:30px;
            }
            @media #{$xs}{
                right:12px;
            }
            li {
                display: block;
                margin: 0 8px;  
            }
            button {
                text-indent: -100000px;
                height: 10px;
                width: 10px;
                line-height: 10px;
                border: 0;
                padding: 0;
                cursor: pointer;
                border-radius: 50%;
                background:rgba(255, 255, 255,.3) ;
            }
        }
    }
    .dot-style .slick-dots  .slick-active button{
        background: #fff;
        position: relative;
        @include transition(.4s);
    }
}

// Slider Footer
.slider-footer{
    width: 100%;
    @include flexbox();
    @include justify-content(flex-end);
    position: absolute;
    bottom: 0;
    .footer-wrapper{
        background: #F2F2F2;
        border-top: 12px solid #55A48A;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        width: 60%;
        padding: 45px 55px;
        @media #{$large1}{
            width: 70%; 
        }
        @media #{$lg}{
            width: 48%; 
            padding: 35px 48px;
        }
        @media #{$md}{
            display: none;
        }
        @media #{$sm}{
            display: none;
        }
        @media #{$xs}{
            display: none;
        }
        // Caption
        .single-caption{
            padding-right: 100px;
            .caption {
                span {
                    color: #8F8F8F;
                    font-size: 16px;
                    margin-bottom: 10px;
                    display: block;
                }
                h3{
                    color: #000;
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 12px;

                    @media #{$lg}{
                        font-size: 21px;
                    }
                }
                p {
                    color: #656565;
                    font-size: 16px;
                    margin-bottom: 13px;
                    display: block;
                    line-height: 1.7;
                    @media #{$lg}{
                        font-size: 15px;
                    }
                    @media #{$md}{
                        font-size: 15px;
                    }
                    @media #{$sm}{
                        font-size: 15px;
                    }
                }
            }
        }
        .single-img{
            img {
                width: 100%;
            }
        }
    }
}

//overly
.hero-overly {
    position: relative;
    z-index: 0;
    &::before {
        position: absolute;
        content: "";
        background-color: rgba(10, 22, 18,.6);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

.hero-overly02{
    position: relative;
    z-index: 0;
    &::before {
        position: absolute;
        content: "";
        background-color:rgba(84, 84, 84,.6);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

// Another Hero Page
.slider-area2{
    background-image: url(../img/hero/hero2.png);
	background-repeat: no-repeat;
    background-size: cover;
    .hero-cap{
        @media #{$md}{
            padding-top: 50px;
        }
        @media #{$sm}{
            padding-top: 50px;
        }
        @media #{$xs}{
            padding-top: 50px;
        }
        h2{
            color: #fff;
            font-size: 50px;
            font-weight: 800;
            text-transform: capitalize;
            line-height: 1;
            margin-bottom: 21px;
            @media #{$sm}{
                font-size: 50px;
              }
            @media #{$xs}{
                font-size: 35px;
              }
        }
    }
}
