@import "functions";
@import "variables";
@import "mixins";

$primary: #b49c73;
$secondary: #12947f;
$black: #000000;
$white: #ffffff;
$grey: #5b5656;
$heading_color: #dddde6;
$text_light_color: #b2b2b8;
$bg_color: #37373f;
$font-family: 'Rubik', sans-serif;
$font-family-sans-serif: $font-family;

@import 'site-base';
@import 'site-navbar';
@import 'site-blocks';
@import 'site-elements';
@import 'site-footer';